<div class="main container-nomar">
  <div class="box-form">
    <div class="title-box-form">{{poll.question}}</div>
    <div class="title-arrow"></div>
    <div class="text-box-form">
      <ul>
        <li ng-repeat="answer in poll.answers">
          <div class="radio">
            <label>
              <input type="radio" name="anspoll" ng-model="select" value="{{answer.answer}}" ng-click="answerPoll(answer.answer)"/>
              {{answer.answer}}
            </label>
          </div>
        <progressbar class="progress-striped" max="poll.totalAnswer" value="answer.total" type="success">
          <i>{{answer.total}} / {{poll.totalAnswer}}</i></progressbar>
        </li>
      </ul>

    </div>
  </div><!--box-form-->
</div><!--container-->