<div class="avarta-magazine">
  <img ng-src="{{comment.author.avatarUrl}}" pl-avatar="comment.author">
  <p>
    {{comment.author.username}}<br>
    {{comment.createdAt|date:'dd.MMM.yyyy'}}
  </p>
</div>
<div class="text-comment">
  {{comment.content}}
</div>