<div class="main container-nomar">
  <div class="magazine">
    <ul>
      <li ng-repeat="magazine in magazines">
        <a ui-sref="article({id:magazine._id})">

          <span ng-if="magazine.file.type=='image'">
            <img ng-src="{{magazine.file.url}}"/>
          </span>

          <span class="wrap-video-magazine-list" ng-if="magazine.file.type=='video'">
            <custom-video video-name="magazine.file.url"></custom-video>
          </span>

        </a>
        <div class="descript-magazine" ng-class="{'left-descript': magazine.file.type=='video'}">
          {{magazine.title}}
        </div>
      </li>   
    </ul>
  </div>
</div><!--container-->