<div class="menu wrap-main-menu" pl-click-outside>
  <a ng-show="!isOpen" class="but-action" href="#" ng-click="isOpen=!isOpen" 
     title="{{'ACTIONS'|translate}}">
    <img src="images/icon-profile.png">
  </a>
  <ul ng-show="isOpen" class="menu-fixel main-menu">
    <h2 class='cursor title-page-menu' ng-click="isOpen=!isOpen">
      <img src="images/action-black.png"/>
      <span>{{'ACTIONS'|translate}}</span>
    </h2>
    <li>
      <div class="form-tag search-text-form">
        <div class="input-control">
          <label class="input-control-label ng-binding">{{'YEAR'|translate}}</label>
          <div pl-multiselect ng-model="yearModel"
               options="c for c in years"
               change="showMonthHasArticle()"></div>
        </div>
      </div>
    </li>
    <li ng-repeat="month in months" ng-click="getMagazinesByMonth(month.value)" class="cursor"
        ng-class='{monthSelected: searchMagazine.month==month.value && yearSelected==searchMagazine.year}'>
      {{month.label | translate }}
    </li>    
  </ul>
</div>