<div class="main container-nomar">
  <div class="avarta-magazine">
    <img ng-src="{{article.author.avatarUrl}}" pl-avatar="article.author">
    <p>
      {{article.author.username}}<br>
      {{article.createdAt|date:'dd.MMM.yyyy'}}
    </p>
  </div>
  <div class="magazine">
    <ul>
      <li>
        <span ng-if="article.file.type=='image'">
          <img ng-src="{{article.file.url}}"/>
        </span>
        <span class="wrap-video-magazine-list" ng-if="article.file.type=='video'">
          <custom-video video-name="article.file.url"></custom-video>
        </span>
      </li>
    </ul>
  </div>
  <div class="con-magazine">
    {{article.title}}
  </div>
  <div class="con-magazine" ng-bind-html="article.content"></div>

  <div class="conment">
    <div class="title-comment"><img src="images/comment.png"></div>
    <div class="box-comment">
      <ul>
        <li ng-if="readMore">
          <a href="#" ng-click="loadComments()" class="read-more">{{'LOAD_MORE'|translate}}</a>
        </li>
        <li ng-repeat="comment in comments" comment-magazine comment-id="comment._id"></li>
      </ul>
    </div>
  </div>

  <div class="box-form" ng-show="authService.isAuthenticated()">
    <div class="title-box-form">{{'COMMENT'|translate}}</div>
    <div class="title-arrow"></div>
    <div class="text-box-form">
      <textarea ng-model="textComment" class="form-control text-left"></textarea>
    </div>
  </div>
  <div ng-show="authService.isAuthenticated()" class="button-form">
    <a href="#" ng-click="addComment()" title="{{'COMMENT'|translate}}">
      <img src="images/icon-sent.png" class="user"></a></div>
</div><!--container-->