<div ng-repeat="user in userList" class="wrap-dates-box wrap-user-box">
  <div class="box-user">
    <a ui-sref="profile.view({id: user._id})">
      <!--<span ng-show="user.level!=premium" class="not-premium-small"><img ng-src="images/warning.png"/></span>              -->
      <img ng-src='{{user.avatarUrl}}' class="avatar-image" pl-avatar="user" pl-height="160" pl-width ="119"/>
    </a>
    <p><strong class="username-in-search" ng-class="{'color-red':user.isLogged==false}"
               pl-username user-id="user._id">
        {{user.username}}</strong> <span>{{user.age}} - {{user.city}}</span></p>
  </div>
</div>
<a ng-if="isMorePage" href="#" ng-click="nextPage()" class="read-more">{{'SEE_MORE_EVENTS'|translate}}</a>