<div class="main container-large">
  <div class="search-dates-filter">
    <div class="row">
      <div ng-if="notify" class="alert alert-info" translate="{{notify}}"></div>
      <div class="wrap-pagination-date">
        <span class="right-arrow cursor-pointer" ng-click="next()"></span>
        <ul class="dates-paginate wrap-pagination">
          <li ng-repeat="i in dates">
            <a class="date-paginate">
              {{i.unix()*1000|date:'EEE d MMM'}}
            </a>
            <div pl-dates data-day="i.format('D')" data-month="i.format('M')" 
                 data-year="i.format('YYYY')"></div>
          </li>
        </ul>        
        <span class="left-arrow cursor-pointer" ng-click="previous()"></span>
      </div> 
    </div>
    <div class="row">
      <div class="wrap-pagination-date">
        <span class="right-arrow cursor-pointer" ng-click="next()"></span>
        <ul class="dates-paginate wrap-pagination">
          <li ng-repeat="i in dates">
            <a class="date-paginate">
              {{i.unix()*1000|date:'EEE d MMM'}}
            </a>
          </li>
        </ul>        
        <span class="left-arrow cursor-pointer" ng-click="previous()"></span>
      </div> 
    </div>

  </div>
</div>