<div class="main container-large"> 
  <div class="search-filter" ng-class="{'large':viewMode === 'large'}">    
    <div class="row">                
      <pl-pagination total-items="totalSize" ng-model="currentPage" 
                     items-per-page="{{pageSize}}"></pl-pagination>
      <div class='clear'></div>
      <div ng-repeat="user in userList" 
           ng-class="{'col-xs-12 col-md-6 large-item': viewMode == 'large',
               'wrap-user-box small-item': viewMode == 'small'}">
        <div ng-class="{'box-picture': viewMode == 'large',
          'box-user': viewMode == 'small'}">
          <div ng-class="{'picture': viewMode == 'large'}">
            <!--<span ng-show="user.level!=premium" 
                ng-class="{'not-premium-large':  viewMode == 'large', 
                'not-premium-small': viewMode == 'small'}">
                  <img ng-src="images/warning.png"/>
                </span>-->
            <a ng-class="{'blurred':user.isMatchPrivacyFilter}" 
               ui-sref="profile.view({id:user._id})">
              <pl-video stream-id="user._id" max-height="videoSize.height" 
                        max-width='videoSize.width'></pl-video>
            </a>
          </div>

          <div ng-if="viewMode == 'large'" class="bottom-picture">
            <div class="bar-picture">
              <span class="name" pl-username user-id="user._id"
                    is-logged="user.isLogged">{{user.username}}</span>
              <span class="age">{{user.age}}</span>
              <span class="stockholm">{{user.city}}</span>
            </div>
            <div class="text-picture green">
              {{user.preferThings}} 
            </div>
            <div class="text-picture red">                
              {{user.notlikeThings}}
            </div>
            <div class="text-picture grey">
              {{user.statusComment}} 
            </div>
          </div>

          <p ng-if="viewMode == 'small'">
            <strong class="username-in-search" pl-username user-id="user._id"
                    is-logged="user.isLogged">{{user.username}}</strong> 
            <span>{{user.age}} - {{user.city}} </span></p>
        </div>             
      </div>
      <div ng-if="viewMode == 'large'" ng-include="'app/search/views/poll-large.html'"></div>
      <div ng-if="viewMode == 'small'" ng-include="'app/search/views/poll-small.html'"></div>
      <div class='clear'></div>
      <pl-pagination total-items="totalSize" ng-model="currentPage" items-per-page="{{pageSize}}"></pl-pagination>
    </div>
  </div>
</div>