<div ng-if="poll" class="col-xs-12 col-md-6 large-item">
  <div class="box-poll large">
    <div class="poll-question">
      <a ui-sref="poll({id:poll._id})">{{poll.question}}</a>
    </div>
    <ul class="poll-answer">
      <li ng-repeat="answer in poll.answers" class="radio">
        <label>
          <input type="radio" name="anspoll" value="{{answer}}" ng-click="answerPoll(answer)"/>
          {{answer}}
        </label>
      </li>
    </ul>
  </div>
</div>
<div ng-if="banner" class="col-xs-12 col-md-6 box-banner large-item">
  <div class="box-picture">
    <div class="picture">
      <a href="{{banner.url}}" target="_blank"><img ng-src="{{banner.file.url}}"/></a>
    </div>
  </div>
</div>