<div ng-show="poll" class="wrap-user-box">
  <div slimscroll="slimScrollOptions">
  <div class="box-poll">
    <div class="poll-question">
      <a ui-sref="poll({id:poll._id})">{{poll.question}}</a>
    </div>
    <ul class="poll-answer">
      <li ng-repeat="answer in poll.answers" class="radio">
        <label>
          <input type="radio" name="anspoll" value="{{answer}}" ng-click="answerPoll(answer)"/>
          {{answer}}
        </label>
      </li>
    </ul>
    </div>
  </div>
</div>
<div ng-if="banner" class="wrap-user-box box-banner">
  <div class="box-user">
    <a href="{{banner.url}}" target="_blank">
      <img ng-src="{{banner.file.url}}"/>
    </a>
  </div>
</div>