<div class="wrap-menu-left" pl-click-outside>
  <a href="#" class="but-action" ng-show="!isOpen" ng-click="isOpen = !isOpen" 
     title="{{'MENU_SEARCH'| translate}}">
    <img src="images/icon-search.png"></a>
  <div ng-show="isOpen" class="box-popup popup-filter">
    <div class="box-search">
      <div class="pop-title cursor" ng-click="isOpen = !isOpen">
        <img src="images/icon-search1.png"> {{'MENU_SEARCH'| translate}}
      </div>
      <div class="pop-content" slimscroll="slimScrollOptions" 
           auto-resize="true" default-height="slimScrollResize">
        <div class="content-popup">
          <p translate="GUID_SEARCH1"></p>  
          <p translate="GUID_SEARCH2"></p>
          <div class="form-tag search-text-form" id="filterUser">
            <div class='input-control'>
              <input type="text" ng-model='dataFilter.username' 
                     placeholder="{{'MEMBER'| translate}}"
                     ng-focus="focusFilter('#filterUser')"/>
            </div>
          </div>
          <div class="found" ng-if="page != 'dates'">
            {{'FOUND'| translate}}:    {{amountRecord}}</div>
          <div class="form-popup">
            <div class="row">
              <div class="col-xs-4">
                <div class="box-form height-170">
                  <div class="title-box-form">{{'GENDER'| translate}}</div> 
                  <div class="text-box-form">
                    <div class="multi-checkbox pull-input">
                      <label ng-repeat="(key,value) in dropdown.gender">
                        <input type="checkbox" checklist-model="dataFilter.genders" 
                               checklist-value="key"/>
                        <span>{{key| translate}}</span>
                      </label>
                    </div>
                  </div>
                </div>
              </div><!--col-xs-4-->
              <div class="col-xs-4">
                <div class="box-form height-170">
                  <div class="title-box-form">{{'STATUS'| translate}}</div>     
                  <div class="text-box-form">
                    <div class="multi-checkbox pull-input">
                      <label ng-repeat="(key,value) in dropdown.status">
                        <input type="checkbox" checklist-model="dataFilter.statuses" 
                               checklist-value="key"/>
                        <span>{{key| translate}}</span>
                      </label>
                    </div>
                  </div>
                </div>
              </div><!--col-xs-4-->
              <div class="col-xs-4">
                <div class="box-form height-170">
                  <div class="title-box-form">{{'ORIENTATION'| translate}}</div>       
                  <div class="text-box-form">
                    <div class="multi-checkbox pull-input">
                      <label ng-repeat="(key,value) in dropdown.orientation">
                        <input type="checkbox" checklist-model="dataFilter.orientations" 
                               checklist-value="key"/>
                        <span>{{value| translate}}</span>
                      </label>
                    </div>
                  </div>
                </div>
              </div><!--col-xs-4-->
            </div>
            
            <div class="row" id="filterAge">
              <div class="col-xs-4">
                <div class="box-form height-340">
                  <div class="title-box-form">{{'AGE'| translate}}</div>
                  <div class="text-box-form">
                    <div class="row">
                      <div class="col-xs-5">
                        <input type="text" class="form-control" 
                               ng-model="dataFilter.ageFrom"
                               ng-focus="focusFilter('#filterAge')"/></div>
                      <div class="col-xs-2 gach-input"> - </div>
                      <div class="col-xs-5">
                        <input type="text" class="form-control" 
                               ng-model="dataFilter.ageTo" 
                               ng-focus="focusFilter('#filterAge')"/></div>
                    </div>
                  </div>
                </div>
              </div><!--col-xs-4-->
              <div class="col-xs-4">
                <div class="box-form height-340">
                  <div class="title-box-form">{{'UPFOR'| translate}}</div>        
                  <div class="text-box-form">
                    <div class="multi-checkbox pull-input">
                      <label ng-repeat="(key,value) in dropdown.upfor">
                        <input type="checkbox" checklist-model="dataFilter.upfors" 
                               checklist-value="key"/>
                        <span>{{value| translate}}</span>
                      </label>
                    </div>
                  </div>
                </div>
              </div><!--col-xs-4-->
              <div class="col-xs-4">
                <div class="box-form height-340">
                  <div class="title-box-form">{{'OTHER'| translate}}</div>        
                  <div class="text-box-form">
                    <div class="multi-checkbox pull-input">
                      <label ng-repeat="(key,value) in dropdown.other">
                        <input type="checkbox" checklist-model="dataFilter.others" 
                               checklist-value="key"/>
                        <span>{{value| translate}}</span>
                      </label>
                      <label ng-if="page != 'lounge'">
                        <input type="checkbox" ng-model="dataFilter.offline" value="true"/>
                        <span>{{'OFFLINE'|translate}}</span>
                      </label>
                      <label ng-if="page != 'lounge'">
                        <input type="checkbox" ng-model="dataFilter.premium" value="true"/>
                        <span>{{'NON_PREMIUM'|translate}}</span>
                      </label>
                      <label ng-if="page != 'lounge'">
                        <input type="checkbox" ng-model="dataFilter.picture" value="true"/>
                        <span>{{'NO_PICTURE'|translate}}</span>
                      </label>
                      <label>
                        <input type="checkbox" ng-model="dataFilter.filter" value="true"/>
                        <span>{{'FILTER_MISMATCH'|translate}}</span>
                      </label>
                      <label>
                        <input type="checkbox" ng-model="dataFilter.interested" value="true"/>
                        <span>{{'NOT_INTERESTED'|translate}}</span>
                      </label>
                      <label>
                        <input type="checkbox" ng-model="dataFilter.interesting" value="true"/>
                        <span>{{'NOT_INTERESTING'|translate}}</span>
                      </label>
                      <label ng-if="page == 'dates'">
                        <input type="checkbox" ng-model="dataFilter.events" value="true"/>
                        <span>{{'EVENTS'|translate}}</span>
                      </label>
                      <label ng-if="page == 'dates'">
                        <input type="checkbox" ng-model="dataFilter.dates" value="true"/>
                        <span>{{'DATES'|translate}}</span>
                      </label>
                    </div>
                  </div>
                </div>
              </div><!--col-xs-4-->
            </div>
            
            <div class="row">
              <div class="col-xs-4">
                <div class="box-form height-340">
                  <div class="title-box-form">{{'ETHNICITY'|translate}}</div>
                  <div class="text-box-form">
                    <div class="multi-checkbox pull-input">
                      <label ng-repeat="(key,value) in dropdown.ethnicity">
                        <input type="checkbox" checklist-model="dataFilter.ethnicities" 
                               checklist-value="key"/>
                        <span>{{value| translate}}</span>
                      </label>
                    </div>
                  </div>
                </div>
              </div><!--col-xs-4-->
              <div class="col-xs-4">
                <div class="box-form height-340">
                  <div class="title-box-form">{{'RELIGION'|translate}}</div>       
                  <div class="text-box-form">
                    <div class="multi-checkbox pull-input">
                      <label ng-repeat="(key,value) in dropdown.religion">
                        <input type="checkbox" checklist-model="dataFilter.religions" 
                               checklist-value="key"/>
                        <span>{{value| translate}}</span>
                      </label>
                    </div>
                  </div>
                </div>
              </div><!--col-xs-4-->
              <div class="col-xs-4" id="filterHeight">
                <div class="box-form">
                  <div class="title-box-form">{{'HEIGHT'|translate}}</div>
                  <div class="text-box-form">
                    <div class="row">
                      <div class="col-xs-5">
                        <input type="text" class="form-control" 
                               ng-model='dataFilter.heightFrom'
                               ng-focus="focusFilter('#filterHeight')"/></div>
                      <div class="col-xs-2 gach-input"> - </div>
                      <div class="col-xs-5">
                        <input type="text" class="form-control" 
                               ng-model='dataFilter.heightTo'
                               ng-focus="focusFilter('#filterHeight')"/></div>
                    </div>
                    <p></p>
                  </div>
                </div>
                <div class="box-form">
                  <div class="title-box-form">{{'LOOKS'|translate}}</div>
                  <div class="text-box-form">                    
                    <div class="multi-checkbox pull-input">
                      <label ng-repeat="(key,value) in dropdown.figure">
                        <input type="checkbox" checklist-model="dataFilter.figures" 
                               checklist-value="key"/>
                        <span>{{value| translate}}</span>
                      </label>
                    </div>
                  </div>
                </div>
              </div><!--col-xs-4-->
            </div>
            
            <div class="row">
              <div class="col-xs-4">
                <div class="box-form">
                  <div class="title-box-form">{{'LIVING_IN'|translate}}</div>
                  <div class="text-box-form">
                    <p>
                      <select class="form-control opacity1" ng-model='dataFilter.country' 
                              ng-options="k as v for (k,v) in dropdown.country" ng-change="loadState()">
                        <option value="">{{'COUNTRY'|translate}}</option>
                      </select>
                    </p>
                    <p>
                      <select class="form-control opacity1" ng-model='dataFilter.state' 
                              ng-options="k as v for (k,v) in dropdown.state" ng-change="loadCity()">
                        <option value="">{{'STATE'|translate}}</option>
                      </select>
                    </p>
                    <p>
                      <select class="form-control opacity1" ng-model='dataFilter.city' 
                              ng-options="k as v for (k,v) in dropdown.city">
                        <option value="">{{'CITY'|translate}}</option>
                      </select>
                    </p>
                  </div>
                </div>
                <div class="box-form">
                  <div class="title-box-form">{{'WITHIN'|translate}}</div>
                  <div class="text-box-form">
                    <ul class="menu-reason">
                      <li ng-repeat="distance in dropdown.distances">
                        <a href="#" ng-click='setDistance($index)' 
                           ng-class='{active: dataFilter.distance == $index}'>{{distance}} {{dropdown.distanceType}}</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div><!--col-xs-4-->
              <div class="col-xs-4">
                <div class="box-form height-780">
                  <div class="title-box-form">{{'SPEAKING'|translate}}</div>        
                  <div class="text-box-form">
                    <div class="multi-checkbox pull-input">
                      <label ng-repeat="(key,value) in dropdown.speaking">
                        <input type="checkbox" checklist-model="dataFilter.speakings" checklist-value="key"/>
                        <span>{{value| translate}}</span>
                      </label>
                    </div>          
                    <!--          <a href="#" class="more-popup">&blacktriangledown; more &blacktriangledown;</a>-->
                  </div>
                </div>
              </div><!--col-xs-4-->
              <div class="col-xs-4">
                <div class="box-form height-780">
                  <div class="title-box-form">{{'STYLE'|translate}}</div>
                  <div class="text-box-form">
                    <div class="multi-checkbox pull-input">
                      <label ng-repeat="(key,value) in dropdown.style">
                        <input type="checkbox" checklist-model="dataFilter.styles" checklist-value="key"/>
                        <span>{{value| translate}}</span>
                      </label>
                    </div>                    
                  </div>
                </div>
              </div><!--col-xs-4-->
            </div>

            <div class="form-tag search-text-form" id="filterKeyword">
              <div class="input-control">
                <input type="text" placeholder="{{'KEY_WORDS'|translate}}"
                       ng-model='dataFilter.keywords'
                       ng-focus="focusFilter('#filterKeyword')"/>
              </div>
            </div>
            
            <div class="box-form">
              <div class="title-box-form">{{'SORTING'|translate}}</div>
              <div class="text-box-form">
                <ul class="menu-reason">
                  <div class="row">
                    <div class="col-xs-3">
                      <li><a href="#" ng-click='setSortMode("newest")' 
                             ng-class="{active:dataFilter.sortMode === 'newest'}">
                          {{'NEWEST'|translate}}</a></li>
                    </div>
                    <div class="col-xs-3">
                      <li><a href="#" ng-click='setSortMode("lastLoggedIn")' 
                             ng-class="{active:dataFilter.sortMode === 'lastLoggedIn'}">
                          {{'LOGIN'|translate}}</a></li>
                    </div>
                    <div class="col-xs-3">
                      <li><a href="#" ng-click='setSortMode("distance")' 
                             ng-class="{active:dataFilter.sortMode === 'distance'}">
                          {{'DISTANCE'|translate}}</a></li>
                    </div>
                    <div class="col-xs-3">
                      <li><a href="#" ng-click='setSortMode("alphabet")' 
                             ng-class="{active:dataFilter.sortMode === 'alphabet'}">abc</a></li>
                    </div>
                  </div>
                </ul> 
              </div>
            </div>
            
            <div class="button-search">
              <a ng-if="page != 'dates'" ui-sref="search.index({mode:'large'})" class="but-search-1" 
                 title="{{'LARGE_VIEW'|translate}}">
                <img ng-src="images/search-color-{{viewMode}}.png"></a>
              <a ng-if="page != 'dates'" ui-sref="search.index({mode:'small'})" class="but-search-2" 
                 title="{{'SMALL_VIEW'|translate}}">
                <img ng-src="images/filter-search-{{viewMode}}.png"></a>
              <button class="submit-search" ng-click='seach()' title="{{'SEARCH'|translate}}">
                <img src="images/icon-search2.png"></button>
            </div>
          </div> 
        </div>
      </div>
    </div>
  </div>
</div>