<div class="modal-header">
  <span class="modal_title">{{'TITLE_AUDIO_CALL'|translate}}</span>
</div>
<div class="modal-body">
  <div class="audio-model">
    <p>
      <img ng-src="{{user.avatarUrl}}" pl-avatar="user"/>
    </p>
    <p>{{user.username}}</p>
    <div>{{user.city}} {{user.countryName}}</div>
  </div>
</div>
<div class="modal-footer">
  <a class="btn btn-success" ng-click="audioAccept()">{{'ACCEPT'|translate}}</a>
  <a class="btn btn-danger" ng-click="audioDecline()">{{'DECLINE'|translate}}</a>
</div>