<div class="activity-came" ng-init="resizeVideo()">
  <div class="acti-volume">
    <a href="#" ng-click="publicCamera()" title="{{'CAMERA_PUBLIC_ACTION'|translate}}">
      <img ng-src="images/icon-public-{{isPublicVideo}}.png"></a>
  </div>
  <div class="acti-webcame" ng-class="{'active':isLargeVideo}">
    <webcam ng-if="isVideoControl" on-error="onError(err)" ng-click="largeVideo()"
            on-stream="onSuccess(stream, video)" placeholder="'images/ajax-loader.gif'" 
            width="videoSize.width" height="videoSize.height">
    </webcam>
    <img ng-if="!isVideoControl" ng-src="images/camera.png"/>
    <div ng-repeat="audio in audioStreamingUsers" pl-audio stream="audio.stream"></div>
  </div>
  <div class="acti-came">
    <a href="#" ng-click="setVideoControl()" title="{{'CAMERA_ACTION'|translate}}">
      <img ng-src="images/icon-webcam-{{isVideoControl}}.png"></a>
  </div>
</div>