<div class="box-activity box-activity-active" ng-style="activityStyle">
  <div class="tab-activity">
    <ul>
      <li>
        <a href="#" ng-click="showActivity('conversation')" title="{{'CONVERSATIONS'|translate}}">
          <img src="images/activity-conversation.png">
        </a>
        <span>{{qtyConversationUnread}}</span>
      </li>

      <li>
        <a href="#" ng-click="showActivity('message')" title="{{'NEW_MESSAGES'|translate}}">
          <img src="images/activity-message.png">
        </a>
        <span>{{qtyMessageUnread}}</span>
      </li>

      <!-- <li><a href="#" ng-click="showActivity('date')" title="{{'DATE_EVENTS'|translate}}">
          <img src="images/activity-date.png">
        </a>
        <span>{{qtyDateUnread}}</span>
      </li> -->

      <li><a href="#" ng-click="showActivity('mutualinterest')" title="{{'MUTUALINTEREST'|translate}}">
          <img src="images/activity-mutualinterest.png">
        </a>
        <span>{{qtyInterestUnread}}</span>
      </li>

      <li><a href="#" ng-click="showActivity('audio')" title="{{'AUDIOS'|translate}}">
          <img src="images/activity-audio.png">
        </a></li>

      <li><a href="#" ng-click="showActivity('visitor')" title="{{'VISITORS'|translate}}">
          <img src="images/activity-visitor.png">
        </a>
        <span>{{qtyVisitorUnread}}</span>
      </li>

      <li class="tab-last">
        <a href="#" ng-click="openActivity()"
            title="{{'ACTIVITY_ACTION'|translate}}">
          <img ng-if="!qtyConversationUnread && !qtyMessageUnread && !qtyDateUnread && !qtyInterestUnread && !qtyVisitorUnread" 
               ng-src="images/activity-{{activity}}.png">
          <img ng-if="qtyConversationUnread || qtyMessageUnread || qtyDateUnread || qtyInterestUnread || qtyVisitorUnread" 
               ng-src="images/activity-{{activity}}-yellow.png">
        </a>
        <span ng-if="activity=='conversation'">{{qtyConversationUnread}}</span>
        <span ng-if="activity=='message'">{{qtyMessageUnread}}</span>
        <span ng-if="activity=='date'">{{qtyDateUnread}}</span>
        <span ng-if="activity=='mutualinterest'">{{qtyInterestUnread}}</span>
        <span ng-if="activity=='visitor'">{{qtyVisitorUnread}}</span>
      </li>
    </ul>
  </div>

  <div class="list-activity scroll-body" slimscroll="slimScrollOptions" auto-resize="true" default-height="slimScrollResize">

    <div ng-include="'app/activity/views/tab-conversation.html'"></div>

    <div ng-include="'app/activity/views/tab-new-conversation.html'"></div>

    <div ng-include="'app/activity/views/tab-date.html'"></div>

    <div ng-include="'app/activity/views/tab-interested.html'"></div>

    <div ng-include="'app/activity/views/tab-audio.html'"></div>

    <div ng-include="'app/activity/views/tab-visitor.html'"></div>

  </div>

  <div class="button-activity">
    <a href="#" ng-click="blockAction()" title="{{'BLOCK_ACTION'|translate}}">
      <img src="images/activity-icon-6.png"></a>
    <a href="#" ng-click="reportAction()" title="{{'REPORT_ACTION'|translate}}">
      <img src="images/activity-icon-7.png"></a>
    <a ng-if="activity != 'visitor' && activity != 'audio' && activity != 'mutualinterest'" 
       href="#" ng-click="deleteAction()" title="{{'DELETE_ACTION'|translate}}">
      <img src="images/activity-icon-8.png"></a>
    <a ng-if="activity == 'audio'" href="#" ng-click="endCallAction()" title="{{'END_CALL_ACTION'|translate}}">
      <img src="images/activity-audio.png"></a>
  </div>
</div>