<!--start conversation-->
<div  ng-show="activity == 'date'">
  <ul>
    <li ng-repeat="item in dateEvents | orderBy:'createdAt':true" ng-class="{'active':item.unread}">
      <table class="activity-table">
        <tbody>
          <tr>
            <td width="37px">
              <label class="css-checkbox">
                <input type="checkbox" checklist-model="checkbox.dateEvents" checklist-value="item" />
                <span class="css-label"></span>
              </label>
            </td>
            <td class="date-message">
              <div class="text-center">
              {{item.updatedAt|date:'dd MMM'}} 
              {{item.updatedAt|date:'HH:mm'}}
              </div>
              <div class="activity-box box-chat-blue">
                <div class="arrow-chat"></div>
                <div class="date-event date-activity">
                  <div class="date-group date-event">
                    <span class="day ng-binding">
                      {{item.onDate|date:'dd'}}
                    </span>
                    <span class="week ng-binding">
                      {{item.onDate|date:'EEE'}}
                    </span>
                    <span class="month ng-binding">
                      {{item.onDate|date:'MMM'}}
                    </span>
                  </div>
                </div>
                <div class="country-acti ellipsis">
                  {{item.text}}
                </div>
              </div>
            </td>
            <td class="text-right">
              <span ng-class="{'color-red':item.author.isLogged==false}" 
                    class="username-in-search" pl-username user-id="item.author._id">
                {{item.author.username}}</span>
              <br/>{{item.author.age}}<br/>{{item.author.city}}
            </td>
            <td class="text-center show-activity" width="57">
              <a ng-if="$state.current.name!='profile.edit'" ui-sref="profile.edit({eventId:item._id})" ng-click="readEvent(item)">
                <img ng-src="{{item.author.avatarUrl}}" pl-avatar="item.author"/>
              </a>
              <a ng-if="$state.current.name=='profile.edit'" href="#{{item._id}}" du-smooth-scroll ng-click="readEvent(item)">
                <img ng-src="{{item.author.avatarUrl}}" pl-avatar="item.author"/>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </li>
    <li ng-if="dateEventReadMore">
      <a href="#" ng-click="loadDateEvent()" class="read-more">{{'LOAD_MORE'|translate}}</a>
    </li>
  </ul>
</div>
<!--end conversation-->