<!--start mutualinterest-->
<div  ng-show="activity == 'mutualinterest'">
  <ul>
    <li ng-repeat="item in interests | orderBy:'createdAt':true" ng-class="{'active':item.unread}">
      <table class="activity-table">
        <tbody>
          <tr>
            <td width="37px">
              <label class="css-checkbox">
                <input type="checkbox" checklist-model="checkbox.mutualInterest" checklist-value="item._id" />
                <span class="css-label"></span>
              </label>
            </td>
            <td>
              {{item.createdAt|date:'dd MMM'}} 
              {{item.createdAt|date:'HH:mm'}}
            </td>
            <td class="text-right">
              <span ng-class="{'color-red':item.author.isLogged==false}" 
                    class="username-in-search" pl-username user-id="item.author._id">
                {{item.author.username}}</span>
              <br>{{item.author.age}}<br>{{item.author.city}}
            </td>
            <td class="text-center show-activity">
              <a ui-sref="profile.view({id:item.author._id})" ng-click="readInterest(item)">
                <img ng-src="{{item.author.avatarUrl}}" pl-avatar="item.author"/> 
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </li>
  </ul>
</div>
<!--end mutualinterest-->