<!--start audio-->
<div ng-show="activity == 'audio'">
  <ul>
    <li ng-repeat="item in audioStreamingUsers">
      <table class="activity-table">
        <tbody>
          <tr>
            <td width="37px">
              <label class="css-checkbox">
                <input type="checkbox" checklist-model="checkbox.audio" checklist-value="item._id" />
                <span class="css-label"></span>
              </label>
            </td>
            <td width="45">
              <a href="#" ng-click="stopAudio(item._id)" class="activity-table-icon-audio" 
                 title="{{'END_CALL_ACTION'|translate}}">
                <img ng-src="images/icon-volume-true.png">
              </a>
            </td>
            <td>
              <div interval="1000" class="timer">
                {{hours}} : {{minutes}} : {{seconds}}
              </div>
            </td>
            <td class="text-right">
              <span ng-class="{'color-red':item.author.isLogged==false}" 
                    class="username-in-search" pl-username user-id="item.author._id">
                {{item.username}}</span>
              <br/>{{item.age}}<br/>{{item.city}}
            </td>
            <td class="text-center show-activity" width="57">
              <a ui-sref="profile.view({id:item._id})">
                <img ng-src="{{item.avatarUrl}}" pl-avatar="item"/>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </li>
  </ul>
</div>
<!--end audio-->