<!--start conversation-->
<div  ng-show="activity == 'conversation'">
  <ul>
    <li ng-repeat="item in conversations | orderBy:'updatedAt':true" ng-class="{'active':item.unread}">
      <table class="activity-table">
        <tbody>
          <tr>
            <td width="37px">
              <label class="css-checkbox">
                <input type="checkbox" checklist-model="checkbox.conversations" checklist-value="item" />
                <span class="css-label"></span>
              </label>
            </td>
            <td class="date-message">
              <div class="text-center">
              {{item.updatedAt|date:'dd MMM'}} 
              {{item.updatedAt|date:'HH:mm'}}
              </div>
              <div ng-if="item.lastMessage" ng-class="{'box-chat-blue':item.updatedBy!=authService.user._id,'box-chat':item.updatedBy==authService.user._id}">
                <div class="arrow-chat"></div>
                <div class="text-chat ellipsis">{{item.lastMessage}}</div>
              </div>
            </td>
            <td class="text-right">
              <span ng-class="{'color-red':item.author.isLogged==false}" 
                    class="username-in-search" pl-username user-id="item.author._id">
                {{item.author.username}}</span><br/>
                {{item.author.age}}<br/>{{item.author.city}}
            </td>
            <td class="text-center show-activity">
              <a ui-sref="profile.view({id:item.author._id})">      
                <img ng-src="{{item.author.avatarUrl}}" pl-avatar="item.author"/>
              </a>
            </td>
          </tr>
        </tbody>
      </table>      
    </li>
    <li ng-if="conversationReadMore">
      <a href="#" ng-click="loadConversation()" class="read-more">{{'LOAD_MORE'|translate}}</a>
    </li>
  </ul>
</div>
<!--end conversation-->