<div class="main container-nomar">
  <form class="form-tag form-edit-account" ng-submit="editAccount()">
    <div class="alert alert-danger" ng-show="errors">
      <a class="close" ng-click="errors=''">×</a>
      <ul>
        <li ng-repeat="error in errors">{{error|translate}}</li>
      </ul>
    </div>
    <div class="input-control">
      <input type="text" ng-model="user.username" 
             placeholder="{{'USERNAME'|translate}}" required="true">
    </div>

    <div class="input-control">
      <input type="password" ng-model="user.password" 
             placeholder="{{'CURRENT_PASSWORD'|translate}}">
    </div>

    <div class="input-control">
      <input type="password" ng-model="user.newPassword" 
             placeholder="{{'NEW_PASSWORD'|translate}}">
    </div>

    <div class="input-control">
      <input type="password" ng-model="user.confirmNewPassword" 
             placeholder="{{'CONFIRM_NEW_PASSWORD'|translate}}">
    </div>

    <div class="input-control">
      <input type="email" ng-model="user.newEmail" 
             placeholder="{{'EMAIL'|translate}}" required="true">
    </div>
    <br>
    <button class="button-jonin button-yellow">{{'SAVE'|translate}}</button>
  </form>
</div><!--container-->