<div class="main container-nomar">
  <form class="form-tag form-account">
    <div class="box-form">
      <div class="title-box-form">{{'REASON' | translate}}</div>
      <div class="title-arrow"></div>
      <div class="text-box-form">
        <ul class="menu-reason-black multi-checkbox">
          <li ng-repeat="(key,value) in reasons">
            <label>
              <input type="checkbox" checklist-model="membership.reasons" checklist-value="key"/>
              <span>{{value}}</span>
            </label>
          </li>
        </ul>
      </div>
    </div><!--box-form-->

    <div class="box-form">
      <div class="title-box-form">{{'FEEDBACK'|translate}}</div>
      <div class="title-arrow"></div>
      <div class="text-box-form">
        <textarea pl-auto-expand class="form-control" ng-model="membership.feedback" 
                  placeholder="{{'GIVING_FEEDBACK'|translate}}"></textarea>
      </div>
    </div><!--box-form-->
    <button class="button-jonin button-yellow" ng-click="cancelMembership()">
      {{'CANCEL_MEMBERSHIP_BTN'|translate}}
    </button>
  </form>
  <div class="text-form" translate="MEMBERSHIP_TEXT"></div>
</div><!--container-->