<div class="main container-nomar">
  <form class="form-tag form-account">
    <div class="invite-code">
      <div class="input-control filed-big">
        <input ng-model="inviteCode" type="text" placeholder="{{'INVITE_CODE'|translate}}">
      </div>
      <a href="#" ng-click="loadDiscount()" class="but-load"><img src="images/icon-load.png" ></a>
    </div>
    <div class="input-control filed-big">
      <select ng-model="purchase"
              ng-options="item.name for item in products track by item._id"></select>
      <span class="caret"></span>
    </div>
    <div class="text-form">  
      <div ng-bind-html="purchase.description" bind-price="price"></div>
      <h1 class="text-right">{{'THIS_PAYMENT'|translate}} 
        <span>{{currency}}</span> {{purchase.amount|currency:''}} </h1>
    </div>
    <div class="row">
        <button class="button-pay pull-right" ng-click="payment()">{{'PAY'|translate}}</button>
    </div>
  </form>

  <div class="payment-img">
    <p>
      <img src="images/payment.jpg">
    </p>
    <div translate="PAYMENT_TERMS"></div>
  </div>
</div><!--container-->