<div class="main container-nomar">
  <form class="form-tag form-account">
    <div class="box-form">
      <div class="title-box-form">{{'REASON' | translate}}</div>
      <div class="title-arrow"></div>
      <div class="text-box-form">
        <ul class="menu-reason-black multi-checkbox">
          <li ng-repeat="(key,value) in reasons">
            <label>
              <input type="checkbox" checklist-model="subscription.reasons" checklist-value="key"/>
              <span>{{value}}</span>
            </label>
          </li>
        </ul>
      </div>
    </div><!--box-form-->

    <div class="box-form">
      <div class="title-box-form">{{'FEEDBACK'|translate}}</div>
      <div class="title-arrow"></div>
      <div class="text-box-form">
        <textarea pl-auto-expand class="form-control" ng-model="subscription.feedback" 
                  placeholder="{{'GIVING_FEEDBACK'|translate}}"></textarea>
      </div>
    </div><!--box-form-->
    <button ng-class="{'visible':authService.user.level!=premium}" class="button-jonin button-yellow" 
            ng-click="stopSubscription()">
      {{'STOP_SUBSCRIPTION_BTN'|translate}}
    </button>
  </form>
  <div class="text-form" translate="SUBSCRIPTION_TEXT"></div>
</div><!--container-->