<div class="box-chat-green box-event">
  <!--<div class="arrow-chat"></div>-->
  <table>
    <tr> 
      <th class="wrap-created-date">
        <div class="box-event-head date-event">
          <div class="date-group">
            <span class="day">
              {{date.onDate|date:'dd'}}
            </span>
            <span class="week">
              {{date.onDate|date:'EEE'}}
            </span>
            <span class="month">
              {{date.onDate|date:'MMM'}}
            </span>
          </div>
        </div>
      </th>
      <th width="40">
        <div class="box-event-head">{{date.country}}</div>
      </th>
      <th>
        <div class="box-event-head line-wrap">{{date.city}}</div>
      </th>
      <th>
        <div class="box-event-head line-wrap">{{date.activityEvent}}</div>
      </th>
      <th width="27">
       <div class="box-event-head date-isgroup"><img ng-src="images/group-{{date.isGroup}}.png"></div>
      </th>
    </tr>
  </table>
  <div class="text-chat">
    {{date.description}}
  </div>
</div><!--box-event-->


<div class="box-chat box-event" ng-repeat="item in date.replies" id="{{item._id}}">
  <!--<div class="arrow-chat"></div>-->
  <table >
    <tr>
      <th class="wrap-created-date">
        <div class="box-event-head date-event">
          <div class="date-group">
            <span class="day">
              {{item.createdAt|date:'dd'}}
            </span>
            <span class="week">
              {{item.createdAt|date:'EEE'}}
            </span>
            <span class="month">
              {{item.createdAt|date:'MMM'}}
            </span>
          </div>
        </div>
      </th>
      <th>
        <a ng-if="item.createdBy && item.createdBy!=user._id" 
           ui-sref="profile.view({id:item.createdBy})" class="box-event-head">
          {{item.replierName}}</a>
        <div ng-if="!item.createdBy || item.createdBy==user._id" class="box-event-head">
          {{item.replierName}}</div>
      </th>        
    </tr>
  </table>
  <div class="text-chat text-reply-event">
    {{item.text}}
  </div>
</div>

<div ng-show="date.createdBy!=user._id" class="box-chat box-event">
  <!--<div class="arrow-chat"></div>-->      
  <table >
    <tr>
      <th class="wrap-created-date">
        <div class="box-event-head date-event">
          <div class="date-group">
            <span class="day">
              {{reply.createdAt|date:'dd'}}
            </span>
            <span class="week">
              {{reply.createdAt|date:'EEE'}}
            </span>
            <span class="month">
              {{reply.createdAt|date:'MMM'}}
            </span>
          </div>
        </div>
      </th>
      <th>
        <a ng-if="reply.createdBy && reply.createdBy!=user._id" 
           ui-sref="profile.view({id:reply.createdBy})" class="box-event-head">
          {{reply.replierName}}</a>
        <div ng-if="!reply.createdBy || reply.createdBy==user._id" class="box-event-head">
          {{reply.replierName}}</div>
      </th>        
    </tr>
  </table>
  <div class="text-chat text-reply-event">
    <textarea ng-model="replyContent" placeholder="{{'REPLY_DATE_EVENT_DESCRIPTION'|translate}}"></textarea>
  </div>
</div>

<div class="button-form">
  <a ng-show="date.createdBy!=user._id" href="#" ng-click="replyDate()" title="{{'REPLY'|translate}}">
    <img src="images/icon-sent.png" class="user"></a>
</div>
