<div ng-repeat="date in dates">
  <div class="row">
    <a href="#" ng-click="deleteDateEvent($index)" class="pull-right delete-date-event">
      <i class="fa fa-remove"></i></a>
  </div>
  <div date-comment date="date"></div>
</div> 

<div class="box-chat-green box-event" ng-init="eventScrollTo()">
  <!--<div class="arrow-chat"></div>-->
  <table>
    <tr>
      <th class="wrap-created-date">
        <div class="box-event-head date-event">
          <div ng-click="openDateEvent($event)" class="date-group cursor">
            <span class="day">
              {{dateEvent.onDate|date:'dd'}}
            </span>
            <span class="week">
              {{dateEvent.onDate|date:'EEE'}}
            </span>
            <span class="month">
              {{dateEvent.onDate|date:'MMM'}}
            </span>
          </div>
          <input type="text" datepicker-popup="{{formatDatePicker.format}}" 
                 min-date="formatDatePicker.minDate" max-date="formatDatePicker.maxDate"
                 ng-model="dateEvent.onDate" is-open="formatDatePicker.opened" 
                 ng-required="true" show-button-bar="false" />
        </div>
      </th>
      <th width="40">
        <div class="box-event-head date-country">
          <div pl-multiselect ng-model="dateEvent.country"
               options="c for c in dropdown.country"
               change="selected()" show-header-value="true"></div>
        </div>
      </th>
      <th>
        <div class="box-event-head">
          <input type="text" ng-model="dateEvent.city" pl-placeholder/>
        </div>
      </th>
      <th>
        <div class="box-event-head line-wrap">
          <div pl-multiselect ng-model="dateEvent.activityEventId"
               options="c for c in dropdown.activities" default-header="ACTIVITY"></div>
        </div>
      </th>
      <th width="27">
        <div class="box-event-head date-isgroup">
          <label class="date-group-input cursor">
            <input type="checkbox" ng-model="dateEvent.isGroup"/>
            <img ng-src="images/group-{{dateEvent.isGroup}}.png"/>
          </label>
        </div>
      </th>
    </tr>
  </table>
  <div class="text-chat">
    <textarea pl-auto-expand ng-model="dateEvent.description" class="form-control" 
              placeholder="{{'DATE_EVENT_DESCRIPTION'|translate}}"></textarea>
  </div>
</div>
<!--box-event-->