<div class="main container-profile-edit">
  <div class="upload-profile">
    <div class="box-picture">
      <div class="picture" ng-init="resizeGallery()">
        <!-- add picture -->
        <div ng-show="!showGallery" ng-include="'app/profile/views/upload.html'"></div>
        <!-- end add picture -->
        
        <!-- gallery -->
        <div ng-show="showGallery" ng-include="'app/profile/views/gallery.html'"></div>
        <!-- end gallery -->
      </div>
      
      <div class="bottom-picture">
        <div class="bar-picture">
          <span class="name">{{user.username}}</span>
          <span class="age">{{user.age}}</span>
          <span class="stockholm">{{user.city}}</span>
        </div>
        <div class="text-picture green">
          <input type="text" ng-model="user.preferThings" placeholder="{{'PROFILE_GREEN_DESCRIPTION'|translate}}"/>
        </div>
        <div class="text-picture red">
          <input type="text" ng-model="user.notlikeThings" placeholder="{{'PROFILE_RED_DESCRIPTION'|translate}}"/>
        </div>
        <div class="text-picture grey">
          <input type="text" ng-model="user.statusComment" placeholder="{{'PROFILE_BLACK_DESCRIPTION'|translate}}"/>
        </div>
      </div>

    </div><!--box-picture-->

    <form class="form-tag form-profile" ng-submit="save()">
      
      <div ng-include="'app/profile/views/profile-form.html'"></div>

      <div ng-include="'app/profile/views/date-event.html'"></div>
      
      <div class="button-form">
        <button class="btn-profile-save" title="{{'SAVE_PROFILE'|translate}}">
          <img src="images/save.png" class="user">
        </button>
      </div>
    </form>
  </div>
</div>