<div class="gallery">
  <!--gallery control-->
  <a href="#" ng-show="!isShowAddPictureControls" class="gallary-btn-list" 
     ng-click="showList()" title="{{'GALLERY_VIEW'|translate}}">
    <img class="profile-btn-icon" ng-src="images/icon-gallery-{{isShowList}}.png">
  </a>
  <a ng-if="!isShowAddPictureControls && !isShowList" href="#" ng-click="setProfileAvatar()" 
     class="gallery-btn-out" title="{{'SET_AVATAR'|translate}}">
    <img class="profile-btn-icon" src="images/profile-ficture.png">
  </a>
  <a ng-if="!isShowAddPictureControls && !isShowList" href="#" ng-click="deletePicture()" 
     class="gallery-btn-delete" title="{{'DELETE'|translate}}">
    <img class="profile-btn-icon" ng-src="images/delete.png"/>
  </a>
  <!--end gallery control-->

  <!--gallery slide show 1 image in item-->
  <div ng-if="!isShowList" class="gallery-only">
    <div class="pl-slider" ng-style="imageSize">
      <ul>
        <li ng-repeat="slide in slides" class="slide slide-horizontal" 
            ng-swipe-right="nextSlide()" ng-swipe-left="prevSlide()"
            ng-hide="!isCurrentSlideIndex($index)">

          <img ng-if="slide.url" ng-src="{{slide.url}}" alt="" />

          <!--gallery add picture control-->
          <div ng-if="slide.control" class="picture-control">
            <div class="col-xs-6">
              <div class="upload-input">
                <img src="images/icon-forder.png" class="cursor">
                <input accept="image/*" class="no-uniform" type="file" 
                       onchange="angular.element(this).scope().uploadImage(this);">
              </div>
            </div>
            <div class="col-xs-6">
              <a ng-click="loadCamera()" href="#">
                <img src="images/icon-camera.png"></a>
            </div>
          </div>
          <!--end gallery add picture control-->
          <div ng-if="slide.control" class="img-add">
            <img ng-src="images/add-picture.jpg"/>
            <div class="img-des" translate="ADD_PICTURES_DESCRIPTION"></div>
          </div>
        </li>
      </ul>
      <div class="pl-controls-direction" ng-if="slides.length > 1">
        <a class="pl-prev" href="#" ng-click="prevSlide()">Prev</a>
        <a class="pl-next" href="#" ng-click="nextSlide()">Next</a>
      </div>
    </div>
  </div>
  <!--end gallery slide show 1 image in item-->

  <!--gallery slide show 9 image in item-->
  <div ng-if="isShowList" class="gallery-list">
    <div class="pl-slider" ng-style="imageSize">
      <ul>
        <li ng-repeat="slide in listSlides" class="slide slide-horizontal" 
            ng-swipe-right="nextSlide()" ng-swipe-left="prevSlide()"
            ng-hide="!isCurrentSlideIndex($index)">
          <a ng-repeat="img in slide" ng-click="openImage($index)" href="#" class="slide-item">
            <img ng-src="{{img.url}}">
          </a>
        </li>
      </ul>
      <div class="pl-controls-direction" ng-if="listSlides.length > 1">
        <a class="pl-prev" href="#" ng-click="prevSlide()">Prev</a>
        <a class="pl-next" href="#" ng-click="nextSlide()">Next</a>
      </div>
    </div>
  </div>
  <!--end gallery slide show 9 image in item-->
</div>