<div class="gallery">
  <!--gallery control-->
  <a href="#" ng-show="!isShowAddPictureControls" class="gallary-btn-list" 
     ng-click="showList()" title="{{'GALLERY_VIEW'|translate}}">
    <img class="profile-btn-icon" ng-src="images/icon-gallery-{{isShowList}}.png">
  </a>
  <!--end gallery control-->

  <!--gallery slide show 1 image in item-->
  <div ng-if="!isShowList" class="gallery-only">
    <div class="pl-slider" ng-style="imageSize">
      <ul>
        <li ng-repeat="slide in slides" class="slide slide-horizontal" 
            ng-swipe-right="nextSlide()" ng-swipe-left="prevSlide()"
            ng-hide="!isCurrentSlideIndex($index)">
          <pl-video ng-if="slide.video" stream-id="slide.video" max-width="imageSize.width" max-height="imageSize.height"></pl-video>
          <img ng-if="slide.url" ng-src="{{slide.url}}" alt="" />
        </li>
      </ul>
      <div class="pl-controls-direction" ng-if="slides.length>1">
        <a class="pl-prev" href="#" ng-click="prevSlide()">Prev</a>
        <a class="pl-next" href="#" ng-click="nextSlide()">Next</a>
      </div>
    </div>
  </div>
  <!--end gallery slide show 1 image in item-->

  <!--gallery slide show 9 image in item-->
  <div ng-if="isShowList" class="gallery-list">
    <div class="pl-slider" ng-style="imageSize">
      <ul>
        <li ng-repeat="slide in listSlides" class="slide slide-horizontal" 
            ng-swipe-right="nextSlide()" ng-swipe-left="prevSlide()"
            ng-hide="!isCurrentSlideIndex($index)">
          <a ng-repeat="img in slide" ng-click="openImage($index)" href="#" class="slide-item">
            <img ng-src="{{img.url}}">
          </a>
        </li>
      </ul>
      <div class="pl-controls-direction" ng-if="listSlides.length>1">
        <a class="pl-prev" href="#" ng-click="prevSlide()">Prev</a>
        <a class="pl-next" href="#" ng-click="nextSlide()">Next</a>
      </div>
    </div>
  </div>
  <!--end gallery slide show 9 image in item-->
</div>