<div class="menu wrap-main-menu" pl-click-outside>
  <a class="but-action" href="#" ng-show="!isOpen" ng-click="isOpen=!isOpen" title="{{'ACTIONS'|translate}}">
    <img src="images/icon-profile.png">
  </a>
    <ul ng-show="isOpen" class="menu-fixel main-menu">
      <h2 class="title-page-menu cursor" ng-click="isOpen=!isOpen">
          <img src="images/action-black.png"/>
          <span>{{'ACTIONS'|translate}}</span>
      </h2>
      <li>
        <a href="#" ng-click="keyUser()">{{keyName|translate}}</a>
      </li>
      <li>
        <a href="#" ng-click="reportUser()">{{'REPORT'|translate}}</a>
      </li>
      <li>
        <a href="#" ng-click="blockUser()">
          <div ng-if="!isBlocked">
            {{'BLOCK'|translate}}
          </div>
          <div ng-if="isBlocked">
            {{'UNBLOCK'|translate}}
         </div>
        </a>                
      </li>
    </ul>
</div>