<div class="input-control" ng-if="user.lastActivity">
  <div class="input-control-value">
    <span ng-if="!isToday(user.lastActivity)">{{user.lastActivity|date:'dd MMM'}}</span>
    <span ng-if="isToday(user.lastActivity)">{{user.lastActivity|date:'HH:mm'}}</span>
  </div>
</div>
<div class="input-control">
  <input type="text" value="{{user.gender|translate}}" disabled="true"/>
</div>
<div class="input-control">
  <input type="text" value="{{user.age}}" disabled="true"/>
</div>
<div class="input-control">
  <div pl-multiselect ng-model="user.country"
       options="c for c in dropdown.country"
       change="loadState()" 
       default-header="COUNTRY"></div>
</div>
<div class="input-control">
  <div pl-multiselect ng-model="user.state"
       options="c for c in dropdown.state"
       change="loadCity()" 
       default-header="STATE"></div>
</div>
<div class="input-control">
  <div pl-multiselect ng-model="user.city"
       options="c for c in dropdown.city" change="changeCity()"
       default-header="CITY"></div>
</div>
<div class="input-control">
  <div pl-multiselect ng-model="user.statusMarried"
       options="c for c in dropdown.status"
       default-header="STATUS"></div>
</div>
<div class="input-control">
  <div pl-multiselect ng-model="user.orientation"
       options="c for c in dropdown.orientation"
       default-header="ORIENTATION"></div>
</div>
<div class="input-control input-lg-control" id="styleBox">
  <div pl-multiselect ng-model="user.styles" multiple="true"
       options="c for c in dropdown.style" 
       default-header="STYLE"></div>
</div>
<div class="input-control">
  <div pl-multiselect ng-model="user.figure"
       options="c for c in dropdown.figure"
       default-header="FIGURE"></div>
</div>
<div class="input-control">
  <input type="text" ng-model="user.height" placeholder="{{'HEIGHT'|translate}}"/>
</div>
<div class="input-control">
  <div pl-multiselect ng-model="user.ethnicity"
       options="c for c in dropdown.ethnicity"
       default-header="ETHNICITY"></div>
</div>
<div class="input-control">
  <div pl-multiselect ng-model="user.religion"
       options="c for c in dropdown.religion"
       default-header="RELIGION"></div>
</div>
<div class="input-control input-lg-control">
  <div pl-multiselect ng-model="user.upfors" multiple="true"
       options="c for c in dropdown.upfor"
       default-header="UPFOR"></div>
</div>
<div class="input-control input-lg-control">
  <div pl-multiselect ng-model="user.others" multiple="true"
       options="c for c in dropdown.other"
       default-header="OTHER"></div>
</div>
<div class="input-control input-lg-control">
  <div pl-multiselect ng-model="user.speakings" multiple="true"
       options="c for c in dropdown.speaking"
       default-header="SPEAKING" ></div>
</div>

<div class="box-form">
  <div class="title-box-form">{{'KEY_WORDS'|translate}}</div>
  <div class="title-arrow"></div>
  <div class="text-box-form">
    <div class="key-work">
      <div><span>1.</span>
        <input type="text" class="form-control" maxlength="25" 
               placeholder="{{'KEYWORD_DESCRIPTION'|translate}}" 
               ng-model="user.keywords[0]"/>
      </div>
      <div><span>2.</span>
        <input type="text" class="form-control" maxlength="25" 
               placeholder="{{'KEYWORD_DESCRIPTION'|translate}}" 
               ng-model="user.keywords[1]"/>
      </div>
      <div><span>3.</span> 
        <input type="text" class="form-control" maxlength="25" 
               ng-model="user.keywords[2]"/></div>
      <div><span>4.</span> 
        <input type="text" class="form-control" maxlength="25" 
               ng-model="user.keywords[3]"/></div>
      <div><span>5.</span> 
        <input type="text" class="form-control" maxlength="25" 
               ng-model="user.keywords[4]"/></div>
      <div><span>6.</span> 
        <input type="text" class="form-control" maxlength="25" 
               ng-model="user.keywords[5]"/></div>
      <div><span>7.</span> 
        <input type="text" class="form-control" maxlength="25" 
               ng-model="user.keywords[6]"/></div>
      <div><span>8.</span> 
        <input type="text" class="form-control" maxlength="25" 
               ng-model="user.keywords[7]"/></div>
      <div><span>9.</span> 
        <input type="text" class="form-control" maxlength="25" 
               ng-model="user.keywords[8]"/></div>
      <div><span>10.</span> 
        <input type="text" class="form-control" maxlength="25" 
               ng-model="user.keywords[9]"/></div>
      <div><span>11.</span> 
        <input type="text" class="form-control" maxlength="25" 
               ng-model="user.keywords[10]"/></div>
      <div><span>12.</span> 
        <input type="text" class="form-control" maxlength="25" 
               ng-model="user.keywords[11]"/></div>
      <div><span>13.</span> 
        <input type="text" class="form-control" maxlength="25" 
               ng-model="user.keywords[12]"/></div>
      <div><span>14.</span> 
        <input type="text" class="form-control" maxlength="25" 
               ng-model="user.keywords[13]"/></div>
    </div>
  </div>
</div><!--box-form-->

<div class="box-form">
  <div class="title-box-form">{{'BAGGAGE'|translate}}</div>
  <div class="title-arrow"></div>
  <div class="text-box-form">
    <textarea pl-auto-expand class="form-control" ng-model="user.baggage"
              placeholder="{{'BAGGAGE_DESCRIPTION'|translate}}"></textarea>
  </div>
</div><!--box-form-->

<div class="box-form">
  <div class="title-box-form">{{'IN_MY_OWN_WORDS'|translate}}</div>
  <div class="title-arrow"></div>
  <div class="text-box-form">
    <textarea pl-auto-expand class="form-control" ng-model="user.inMyOwnWords"
              placeholder="{{'MY_OWN_WORDS_DESCRIPTION'|translate}}"></textarea>
  </div>
</div><!--box-form-->

<div class="box-form">
  <div class="title-box-form">
    <div pl-multiselect ng-model="user.questionId"
         options="c for c in dropdown.question"
         data-item-class="" default-header="{{'QUESTIONS'|translate}}"></div>
  </div>
  <div class="title-arrow"></div>
  <div class="text-box-form">
    <textarea pl-auto-expand class="form-control" ng-model="user.answer"
              placeholder="{{'QUESTIONS_DESCRIPTION'|translate}}"></textarea>
  </div>
</div><!--box-form-->