<div class="picture-control">
  <div class="row" ng-show="showWebcam">
    <div class="col-xs-12">
      <a ng-click="makeSnapshot()" href="#"><img src="images/icon-camera.png"></a>
    </div>
  </div>
  <div class="row" ng-show="showImage">
    <div class="col-xs-6">
      <a ng-click="zoomOut()" href="#"><img src="images/minius.png"></a>
    </div>
    <div class="col-xs-6">
      <a ng-click="zoomIn()" href="#"><img src="images/plus.png"></a>
    </div>
    <!--<a href="#" ng-click="rotate()">rotate</a>-->
  </div>
</div>

<webcam ng-if="showWebcam" on-error="onError(err)"
        on-streaming="onSuccess(video)" placeholder="'images/ajax-loader.gif'" 
        width="imageSize.width" height="imageSize.height">
</webcam>

<div ng-if="showCountdown" class="countdown">{{countdown}}</div>

<canvas width="{{imageSize.width}}" height="{{imageSize.height}}" ng-show="showImage" id="snapshot" 
        ap-canvas src="canvas.src" mode="'fit'"
        image="canvas.image" zoomable="true" 
        frame="canvas.frame" scale="canvas.scale" offset="canvas.offset"></canvas>

<div class="save-box" ng-show="showImage">
  <div class="col-xs-6">
    <a ng-click="saveImage()" href="#">
      <img class="profile-btn-icon" src="images/save.png"></a>
  </div>
  <div class="col-xs-6">
    <a ng-click="cancelImage()" href="#">
      <img ng-src="images/delete.png"/>
    </a>
  </div>
</div>