<div class="main container-profile profile-view">
  <div class="form-chat" ng-if="conversation">
    <div class="box-chat-message" slimscroll="slimScrollOptions" slimscroll-watch="messages" 
         slimscroll-chat="true">
      <a ng-show="pagination.morePre" href="#" class="read-more" ng-click="loadMessage()">
        {{'SHOW_PRE_MESSAGE'|translate}}
      </a>
      <div ng-repeat="item in messages" 
           ng-class="item.createdBy==user._id?'box-chat':'box-chat-blue'">
        <span class="date">{{item.createdAt|date:'dd MMM HH:mm'}}</span>
        <div class="arrow-chat"></div>
        <div class="text-chat">
          {{item.text}}
        </div>
      </div>
      <div ng-if="isTypingMessage" class="typing-message"><img ng-src="images/chat-loading.gif" height="5"/></div>
    </div>
    <!--box-chat-->
      <div class="box-chat box-message-chat">
        <div class="icon-chat">
          <span class="wecame" ng-show="authService.user.userType!=='admin'">
            <a href="#" ng-click="shareVideo()" title="{{'SHARE_VIDEO'|translate}}">
              <img ng-src="images/icon-wecame-{{sharePrivateVideo}}.png"></a></span>
          <span class="volume" ng-show="authService.user.userType!=='admin'">
            <a href="#" ng-click="shareAudio()" title="{{'SHARE_AUDIO'|translate}}">
              <img ng-src="images/icon-volume-{{sharePrivateAudio}}.png"></a></span>
          <span class="sent"> 
            <a href="#" ng-click="send()" title="{{'SEND_MESSAGE'|translate}}">
              <img ng-src="images/icon-sent.png"></a></span>
        </div>
        <div class="arrow-chat"></div>
        <div class="text-chat">
          <textarea class="form-control" ng-model="message.text" ng-keyup="chatMessage($event);" 
                    ng-blur="blurChatMessage()"></textarea>
        </div>
      </div><!--box-chat-->
  </div><!--form-chat-->


  <div class="upload-profile">
    <div class="box-picture">
      <div class="picture" ng-init="resizeGallery()">
        <div ng-include="'app/profile/views/gallery-view.html'"></div>
      </div>
      <div class="bottom-picture">
        <div class="bar-picture">
          <span class="name" ng-class="{'color-red':profile.isLogged==false}" 
                pl-username user-id="profile._id">{{profile.username}}</span>
          <span class="age">{{profile.age}}</span>
          <span class="stockholm">{{profile.city}}</span>
        </div>
        <div class="text-picture green">
          {{profile.preferThings}}
          <span ng-if="!profile.preferThings">{{'PROFILE_GREEN_DESCRIPTION'|translate}}</span>
        </div>
        <div class="text-picture red">
          {{profile.notlikeThings}}
          <span ng-if="!profile.notlikeThings">{{'PROFILE_RED_DESCRIPTION'|translate}}</span>
        </div>
        <div class="text-picture grey">
          {{profile.statusComment}}
          <span ng-if="!profile.statusComment">{{'PROFILE_BLACK_DESCRIPTION'|translate}}</span>
        </div>
      </div>
    </div><!--box-picture-->
    <div class="interesting">
      <h2>{{'INTERESTING'|translate}}</h2>
      <label class="switch switch-green">
        <input type="checkbox" class="switch-input" ng-click="makeInterest()" ng-model="interesting"/>
        <span class="switch-label" data-on="{{'YES'|translate}}" data-off="{{'NO'|translate}}"></span>
        <span class="switch-handle"></span>
      </label>
    </div>

    <div class="form-tag form-profile">
      <div class="input-control">
        <label class="input-control-label ng-binding">{{'ACTIVITY' | translate}}</label>  
        <div class="input-control-value">{{profile.lastActivity|date:'MMM. dd'}}</div>
      </div>      

      <div class="input-control">
        <label class="input-control-label ng-binding">{{'GENDER' | translate}}</label>
        <div class="input-control-value">{{profile.gender|translate}}</div>
      </div>

      <div class="input-control">
        <label class="input-control-label ng-binding">{{'AGE' | translate}}</label>
        <div class="input-control-value">{{profile.age}}</div>
      </div>     

      <div class="input-control">
        <label class="input-control-label ng-binding">{{'COUNTRY' | translate}}</label>
        <div class="input-control-value">{{profile.countryName}}</div>
      </div>

      <div class="input-control">
        <label class="input-control-label ng-binding">{{'STATE' | translate}}</label>
        <div class="input-control-value">{{profile.stateName}}</div>
      </div>          

      <div class="input-control">
        <label class="input-control-label ng-binding">{{'CITY' | translate}}</label>
        <div class="input-control-value">{{profile.city}}</div>
      </div>          

      <div class="input-control">
        <label class="input-control-label ng-binding">{{'STATUS' | translate}}</label>
        <div class="input-control-value">{{profile.statusMarried | translate}}</div>
      </div>          

      <div class="input-control">
        <label class="input-control-label ng-binding">{{'ORIENTATION' | translate}}</label>
        <div class="input-control-value">{{profile.orientationName}}</div>
      </div>                

      <div class="input-control input-lg-control">
        <div class="input-control-table">
          <table>
            <tr>
              <td class="title">{{'STYLE'|translate}}</td>
              <td class="arrow"></td>
            </tr>
          </table>
        </div>
        <div class='btn-group large-box-profile'>
          <ul>
            <li ng-repeat='style in profile.styleNames'>{{style}}</li>
          </ul>
        </div>
      </div>

      <div class="input-control">
        <label class="input-control-label ng-binding">{{'FIGURE' | translate}}</label>
        <div class="input-control-value">{{profile.figureName}}</div>
      </div>

      <div class="input-control">
        <label class="input-control-label ng-binding">{{'HEIGHT' | translate}}</label>
        <div class="input-control-value">{{profile.height}}</div>
      </div>      

      <div class="input-control">
        <label class="input-control-label ng-binding">{{'ETHNICITY' | translate}}</label>
        <div class="input-control-value">{{profile.ethnicityName}}</div>
      </div>      

      <div class="input-control">
        <label class="input-control-label ng-binding">{{'RELIGION' | translate}}</label>
        <div class="input-control-value">{{profile.religionName}}</div>
      </div>      

      <div class="input-control input-lg-control">
        <div class="input-control-table">
          <table>
            <tr>
              <td class="title">{{'UPFOR'|translate}}</td>
              <td class="arrow"></td>
            </tr>
          </table>
        </div>
        <div class='btn-group large-box-profile'>
          <ul>
            <li ng-repeat='upfor in profile.upforNames'>{{upfor}}</li>
          </ul>
        </div>
      </div>

      <div class="input-control input-lg-control">
        <div class="input-control-table">
          <table>
            <tr>
              <td class="title">{{'OTHER'|translate}}</td>
              <td class="arrow"></td>
            </tr>
          </table>
        </div>
        <div class='btn-group large-box-profile'>
          <ul>
            <li ng-repeat='other in profile.otherNames'>{{other}}</li>
          </ul>
        </div>
      </div>

      <div class="input-control input-lg-control">
        <div class="input-control-table">
          <table>
            <tr>
              <td class="title">{{'SPEAKING'|translate}}</td>
              <td class="arrow"></td>
            </tr>
          </table>
        </div>
        <div class='btn-group large-box-profile'>
          <ul>
            <li ng-repeat='speaking in profile.speakingNames'>{{speaking}}</li>
          </ul>
        </div>
      </div>            

      <div class="box-form">
        <div class="title-box-form">{{'KEY_WORDS'|translate}}</div>
        <div class="title-arrow"></div>
        <div class="text-box-form">
          <div class="key-work">
              <div>
                <span>1.</span> 
                <div class="form-control">{{profile.keywords[0]}}</div>
              </div>
              <div>
                <span>2.</span> 
                <div class="form-control">{{profile.keywords[1]}}</div>
              </div>
              <div>
                <span>3.</span>
                <div class="form-control">{{profile.keywords[2]}}</div>
              </div>
              <div>
                <span>4.</span> 
                <div class="form-control">{{profile.keywords[3]}}</div>
              </div>
              <div>
                <span>5.</span> 
                <div class="form-control">{{profile.keywords[4]}}</div>
              </div>
              <div>
                <span>6.</span> 
                <div class="form-control">{{profile.keywords[5]}}</div>
              </div>  
              <div>
                <span>7.</span> 
                <div class="form-control">{{profile.keywords[6]}}</div>
              </div>
              <div>
                <span>8.</span> 
                <div class="form-control">{{profile.keywords[7]}}</div>
              </div>
              <div>
                <span>9.</span> 
                <div class="form-control">{{profile.keywords[8]}}</div>
              </div>
              <div>
                <span>10.</span>
                <div class="form-control">{{profile.keywords[9]}}</div>
              </div>
              <div>
                <span>11.</span> 
                <div class="form-control">{{profile.keywords[10]}}</div>
              </div>
              <div>
                <span>12.</span> 
                <div class="form-control">{{profile.keywords[11]}}</div>
              </div>
              <div>
                <span>13.</span> 
                <div class="form-control">{{profile.keywords[12]}}</div>
              </div>  
              <div>
                <span>14.</span>
                <div class="form-control">{{profile.keywords[13]}}</div>
              </div>
          </div>
        </div>
      </div><!--box-form-->

      <div class="box-form">
        <div class="title-box-form">{{'BAGGAGE' | translate}}</div>
        <div class="title-arrow"></div>
        <div class="text-box-form text-area">
          {{profile.baggage}}
        </div>
      </div><!--box-form-->

      <div class="box-form">
        <div class="title-box-form">{{'IN_MY_OWN_WORDS' | translate}}</div>
        <div class="title-arrow"></div>
        <div class="text-box-form text-area">
          {{profile.inMyOwnWords}}
        </div>
      </div><!--box-form-->

      <div class="box-form" ng-if="profile.answer">
        <div class="title-box-form">
          {{profile.questionName}}
          <span ng-if="!profile.questionName">{{'QUESTIONS'|translate}}</span>
        </div>
        <div class="title-arrow"></div>
        <div class="text-box-form text-area">
          {{profile.answer}}
        </div>
      </div><!--box-form-->
    </div>
    <div ng-repeat="date in dates" >
      <div date-comment date="date"></div>
    </div>          
  </div>

</div><!--container-->