<div class="modal-body">
  <div class="audio-model">
    <p ng-if="mode==='key'" translate="KEY_USER_DESCRIPTION"></p>
    <p ng-if="mode==='block'" translate="BLOCK_USER_DESCRIPTION"></p>
    <p ng-if="mode==='report'" translate="REPORT_USER_DESCRIPTION"></p>
  </div>
</div>
<div class="modal-footer">
  <a class="btn btn-success" ng-click="accept()">{{'ACCEPT'|translate}}</a>
  <a class="btn btn-danger" ng-click="cancel()">{{'CANCEL'|translate}}</a>
</div>