<div class="menu" pl-click-outside>
  <a class="but-action cursor" title="{{'LOGIN'|translate}}" ng-show="!isOpen" ng-click="isOpen=!isOpen">
    <img src="images/img_08.png"></a>
  <div ng-show="isOpen" class="box-signin menu-fixel">
    <div ng-show="!isForgot">
      <h2 ng-click="isOpen=!isOpen">
        <img src="images/login-black.png"> {{'LOGIN'|translate}}</h2>
      <form class="form-tag" ng-submit="login()">
        <div class="alert alert-danger" ng-show="loginErrors">
          <a class="close" data-dismiss="alert">×</a>
          <strong><div translate="{{ loginErrors }}"></div></strong>
        </div>
        <div class="alert alert-info" ng-if="isCancel">
          <a class="close" data-dismiss="alert">×</a>
          <div>{{'MEMBER_CANCELED'|translate}}<br/>
            <a href="#" ng-click="restoreMembership()">{{'MEMBER_RESTORE'|translate}}</a>
          </div>
        </div>
        <div class="alert alert-success" ng-show="restoreSuccess">
          <a class="close" data-dismiss="alert">×</a>
          <strong translate="MEMBER_RESTORE_SENDMAIL_SUCCESS"></strong>
        </div>
        <div class="alert alert-info" ng-if="isVerify">
          <a class="close" data-dismiss="alert">×</a>
          <div>{{'NOT_VERIFIED'|translate}}<br/>
            <a href="#" ng-click="resendVerifyEmail()">{{'NOTIFY_RESEND_EMAIL_ACTIVE'|translate}}</a>
          </div>
        </div>
        <div class="alert alert-success" ng-show="verifySuccess">
          <a class="close" data-dismiss="alert">×</a>
          <strong translate="RESEND_VERIFY_EMAIL_SUCCESS"></strong>
        </div>
        <div class="input-control">
          <div pl-multiselect ng-model="location"
               options="c for c in countries"
               change="selected()" 
               default-header="{{'LOCAL_SITE'|translate}}"></div>
        </div>
        <div class="input-control">
          <input type="text" ng-model="email" placeholder="{{'EMAIL'|translate}}"/>
        </div>
        <div class="input-control">
          <input type="password" ng-model="password" placeholder="{{'PASSWORD'|translate}}"/>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" ng-model="remember"/>{{'REMEMBER'|translate}}
          </label>
        </div>
        <div class="but-bottom">
          <a href="#" ng-click="isForgot=!isForgot">{{'FORGOT'|translate}}</a>
          <button type="submit" title="{{'LOGIN'|translate}}">
            <img src="images/login-yellow.png"></button>
        </div>
      </form>
    </div>

    <div ng-show="isForgot">
      <h2 ng-click="isOpen=!isOpen">
        <img src="images/login-black.png"> {{ 'FORGOT_PASSWORD' | translate}} 
      </h2>
      <form class="form-tag" ng-submit="forgotPassword()">
        <div class="alert alert-danger" ng-show="forgotPassErrors">
          <a class="close" data-dismiss="alert">×</a>
          <strong><div translate="{{ forgotPassErrors }}"></div></strong>
        </div>      
        <div class="alert alert-success" ng-show="forgotPassSuccess">
          <a class="close" data-dismiss="alert">×</a>
          <strong><div translate="{{ forgotPassSuccess }}"></div></strong>
        </div>      
        <div class="input-control">
          <input type="text" ng-model="email" placeholder="{{'EMAIL'|translate}}"/>
        </div>     
        <div class="but-bottom">
          <a href="#" ng-click="isForgot=!isForgot">{{'LOGIN'|translate}}</a>
          <button type="submit" title="{{'FORGOT_PASSWORD'|translate}}">
            <img src="images/icon-sent.png"></button>
        </div>
      </form>
    </div>
  </div>
</div>