<div class="join-try">  
  <a ng-show="!isOpenRegisterForm" href="#" ng-click="toggleForm()" 
     ng-class="{'butjoin-in butjoin':isOpenRegisterForm}" class="butjoin">
    <img ng-src="images/img_03_{{language}}.png"/>
  </a>
  <div class="box-join-bg" ng-show="isOpenRegisterForm"></div>
  <div class="box-join" ng-show="isOpenRegisterForm">
    <a href="#" ng-click="toggleForm()" class="register-close">x</a>
    <h1 translate="FREE_TO_JOIN"></h1>
    <p translate="FREE_TO_JOIN_DESCRIPTION"></p>
    <h1 translate="3_DAY_TRIAL"></h1>
    <p translate="DAY_TRIAL_DESCRIPTION"></p>
    <h1 translate="PREMIUM_FOR_MONTH"></h1>
    <p translate="PREMIUM_DESCRIPTION"></p>
    <form class="form-tag form-register" ng-submit="register()">
      <div class="alert alert-success" ng-show="success">
        <a class="close" data-dismiss="alert">×</a>
        <strong><div translate="{{ success }}"></div></strong>
      </div>
      <div class="alert alert-danger" ng-show="errors">
        <a class="close" ng-click="errors=''">×</a>
        <ul>
          <li ng-repeat="error in errors">{{error}}</li>
        </ul>
      </div>
      <div class="input-control">
        <input type="text" ng-model="user.email"  placeholder="{{'EMAIL' | translate}}" autocapitalize="off"/></div>
      <div class="input-control">
        <input type="text" ng-model="user.username"  placeholder="{{'USERNAME' | translate}}" autocapitalize="off"/></div>
      <div class="input-control">
        <input type="password" ng-model="user.password"  placeholder="{{'PASSWORD' | translate}}"></div>            
      <div class="row">
        <div class="col-xs-6">
          <div class="input-control">
            <input type="text" placeholder="{{'BIRTHDATE' | translate}}" ng-model="user.birthdate" 
                   class="birthdate-register"/>
          </div>
          <div class="input-control">
            <div pl-multiselect ng-model="user.gender"
                 options="c for c in genders"
                 change="selected()" 
                 default-header="{{'GENDER' | translate}}"></div>
          </div>
        </div>
        <div class="col-xs-6"><button class="button-jonin">{{'JOIN'|translate}}</button></div>
      </div>
    </form>
    <p>{{'JOIN_TERMS'|translate}}</p>
    <h1>{{'THANKS'|translate}}</h1>
    <p translate="THANKS_DESCRIPTION"></p>
  </div><!--box-join-->
</div><!--join-try-->