<div class="main container-profile">
  <div class="form-chat">
    <div class="box-contact">
      <div class="form-tag form-blue">
        <div class="input-control">
          <label class="input-control-label">{{'SUBJECT'|translate}}</label>
          <div pl-multiselect ng-model="subjectContact"
               options="c for c in reasons"
               change="selected()" ></div>
        </div>  
      </div>
      <div class="box-chat">
        <div class="arrow-chat"></div>
        <div class="text-chat">
          <textarea pl-auto-expand ng-model="contentContact" placeholder="{{'CONTACT_DESCRIPTION'|translate}}" 
                    class="form-control"></textarea>
        </div>
      </div><!--box-chat-->     
      <div ng-show="!authService.isAuthenticated()" class="form-group">
        <input type="text" placeholder="email" 
               ng-model="email" class="form-control input-blue"/>
      </div>
      <div class="icon-chat"><span class="sent"> 
          <a class="cursor" ng-click="sendContact()" title="{{'SEND_CONTACT'|translate}}">
            <img src="images/icon-sent.png">
          </a></span></div>      
    </div><!--box-contact-->
  </div><!--form-chat-->
  <div class="upload-profile">
    <div class="box-picture">
      <div class="picture" ng-init="resizeGallery()">
        <div ng-include="'app/profile/views/gallery-view.html'"></div>
      </div>
      <div class="bottom-picture">
        <div class="bar-picture">
          <span class="name" ng-class="{'color-red':admin.isLogged==false}"
                pl-username user-id="admin._id">{{admin.username}}</span>
          <span class="age">{{admin.age}}</span>
          <span class="stockholm">{{admin.city}}</span>
        </div>
        <div class="text-picture green">
          {{admin.preferThings}}                   
        </div>
        <div class="text-picture red">
          {{admin.notlikeThings}}                             
        </div>
        <div class="text-picture grey">
          {{admin.statusComment}}                             
        </div>
      </div>
    </div><!--box-picture-->
  </div>

</div><!--container-->