<div class="main container-nomar">
    <div class="box-form">
      <div class="title-box-form">{{page.title}}</div>
      <div class="title-arrow"></div>
      <div class="text-box-form" ng-bind-html="page.content"></div>
    </div><!--box-form-->
</div><!--container-->