<div class="bg-back bg-top">
  <div class="home-video">
    <youtube-video id="headervideo" video-id="social.media" player-width="'100%'" 
                   player-height="videoHeight" player-vars="playerVars"></youtube-video>
    <a ng-if="mute" href="#" ng-click="setMute()"><i class="fa fa-volume-off"></i></a>
    <a ng-if="!mute" href="#" ng-click="setMute()"><i class="fa fa-volume-up"></i></a>
  </div>
</div>
<!--bg-back-->
<div class="bg-back">
  <div class="container container-medium">
    <div class="row">
      <div ng-repeat="user in dateEvents.slice(0, 3)" class="col-xs-4">
        <div class="box-user">
          <a ui-sref="profile.view({id:user._id})">           
            <img ng-src="{{user.avatarUrl}}" 
                 class="avatar-image" pl-avatar="user" pl-height="160" pl-width ="119"/>
            <p><strong ng-class="{'color-red':user.isLogged==false}" class="username-in-search" pl-username user-id="user._id">
                {{user.username}}</strong> 
              <span>{{user.age}} - {{user.city}}</span></p>
          </a>
        </div>
      </div>
    </div>
    <div class="row">
      <div ng-repeat="user in dateEvents.slice(3, 6)" class="col-xs-4">
        <div class="box-user">
          <a ui-sref="profile.view({id:user._id})">           
            <img ng-src="{{user.avatarUrl}}" 
                 class="avatar-image" pl-avatar="user" pl-height="160" pl-width="119"/>
            <p><strong ng-class="{'color-red':user.isLogged==false}" class="username-in-search" pl-username user-id="user._id">
                {{user.username}}</strong> 
              <span>{{user.age}} - {{user.city}}</span></p>
          </a>
        </div>
      </div>
    </div>
    <div class="row">
      <div ng-repeat="user in dateEvents.slice(6, 9)" class="col-xs-4">
        <div class="box-user">
          <a ui-sref="profile.view({id:user._id})">           
            <img ng-src="{{user.avatarUrl}}" 
                 class="avatar-image" pl-avatar="user" pl-height="160" pl-width="119"/>
            <p><strong class="username-in-search" pl-username user-id="user._id">
                {{user.username}}</strong> 
              <span>{{user.age}} - {{user.city}}</span></p>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="text-center" translate="HOME_DATE_EVENT"></div>
    <div class="img-main"><img ng-src="images/img_20_{{language}}.png"></div>
  </div>
  <div class="arrow-section"><span></span></div>
</div><!--bg-back-->

<div class="bg-white">
  <div class="container">
    <div class="try-use">
      <div class="input-control">
        <label class="input-control-label ng-binding">{{'JOIN_LABEL'| translate}}</label>  
        <div class="input-control-value">{{'JOIN_VALUE'| translate}}</div>
      </div>
      <div class="input-control">
        <label class="input-control-label ng-binding">{{'TRY_LABEL'| translate}}</label>  
        <div class="input-control-value">{{'TRY_VALUE'| translate}}</div>
      </div> 
      <div class="input-control">
        <label class="input-control-label ng-binding">{{'USE_LABEL'| translate}}</label>  
        <div class="input-control-value">{{'USE_VALUE'| translate}}</div>
      </div> 
    </div>
  </div><!--container-->
  <div class="arrow-section"><span></span></div>
</div><!--bg-white-->

<div class="bg-back">
  <div class="container container-medium">
    <div class="row">
      <div ng-repeat="item in lounge" 
           class="col-xs-4">
        <div class="box-user">
          <img ng-src="{{item.url}}"/>
          <p>
            <strong class="username-in-search"><a>{{item.name}}</a></strong> 
            <span>{{item.age}} - {{item.city}}</span>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="user-month">
      <div class="text-center" translate="HOME_LIVE"></div>
      <div class="img-main"><img ng-src="images/img_71_{{language}}.png"></div>
    </div>
  </div><!--container-->
  <div class="arrow-section"><span></span></div>
</div><!--bg-back-->

<div class="bg-white">
  <div class="container-social">
    <div class="social">
      <h2 translate="HOME_MINGLE_SOCIAL"></h2>
      <ul>
        <li ng-if="social.instagram">
          <a href="{{social.instagram}}" target="_blank"><img src="images/img_36.jpg"></a></li>
        <li ng-if="social.facebook">
          <a href="{{social.facebook}}" target="_blank"><img src="images/img_38.jpg"></a></li>
        <li ng-if="social.twitter">
          <a href="{{social.twitter}}" target="_blank"><img src="images/img_40.jpg"></a></li>
        <li ng-if="social.google">
          <a href="{{social.google}}" target="_blank"><img src="images/img_42.jpg"></a></li>
        <li ng-if="social.youtube">
          <a href="{{social.youtube}}" target="_blank"><img src="images/img_44.jpg"></a></li>
        <li ng-if="social.vimeo">
          <a href="{{social.vimeo}}" target="_blank"><img src="images/img_46.jpg"></a></li>
        <li ng-if="social.pinterest">
          <a href="{{social.pinterest}}" target="_blank"><img src="images/img_48.jpg"></a></li>
        <li ng-if="social.stumbleupon">
          <a href="{{social.stumbleupon}}" target="_blank"><img src="images/img_50.jpg"></a></li>
      </ul>
    </div>
  </div><!--container-->
  <div class="arrow-section"><span></span></div>
</div><!--bg-white-->

<div class="bg-back">
  <div class="container">
    <div class="inthemedia">
      <div class="title"><img src="images/inthemedia.jpg"></div>
      <div class="list-media">
        <img src="images/img_72.jpg">
      </div>
    </div>

    <div class="member-say">
      <div class="title"><img src="images/img_75.jpg"></div>
      <div class="list-member-say" ng-bind-html="membersSay"></div>
    </div>

  </div><!--container-->
</div><!--bg-back-->

<div class="footer">
  made in: SWEDEN
  run by: FELMAN GROUP LTD
  &copy; 2012      
</div>