<div class="menu" pl-click-outside>
  <a ng-show="!isOpen" class="but-action" href="#" ng-click="isOpen=!isOpen" title="{{'ACTIONS'|translate}}">
    <img src="images/icon-profile.png">
  </a>
  <ul ng-show="isOpen" class="menu-fixel">
    <h2 class="title-page-menu cursor" ng-click="isOpen=!isOpen">
      <img src="images/action-black.png">
      <span>{{'ACTIONS'|translate}}</span></h2>
    <li ui-sref-active="active">
      <a ui-sref="account.purchase">{{'PURCHASE'|translate}}</a></li>
    <li ui-sref-active="active">
      <a ui-sref="account.index">{{'EDIT_ACCOUNT'|translate}}</a></li>
    <li ui-sref-active="active">
      <a ui-sref="account.subscription">{{'STOP_SUBSCRIPTION'|translate}}</a></li>
    <li ui-sref-active="active">
      <a ui-sref="account.membership">{{'CANCEL_MEMBERSHIP'|translate}}</a></li>
  </ul>
</div>