<!--<ul class="pagination" ng-if="1 < pages.length">-->
<ul class="wrap-pagination" ng-if="1 < pages.length">
    <li ng-if="directionLinks" ng-class="{ disabled : pagination.current == 1 }" class="ng-scope">
        <!--<a href="" ng-click="setCurrent(pagination.current - 1)" class="ng-binding left-arrow"></a>-->
        <a ui-sref="search.index({page:pagination.current - 1})" title="{{'PREVIOUS'|translate}}" class="ng-binding left-arrow"></a>
    </li>
    <li class="paginator-number" ng-repeat="pageNumber in pages track by $index" ng-class="{ active : pagination.current == pageNumber, disabled : pageNumber == '...' }">
        <!--<a href="" ng-click="setCurrent(pageNumber)">{{ pageNumber }}</a>-->
        <a ui-sref="search.index({page:pageNumber})">{{ pageNumber }}</a>
    </li>
    <li ng-if="directionLinks" ng-class="{ disabled : pagination.current == pagination.last }" class="ng-scope">
        <!--<a href="" ng-click="setCurrent(pagination.current + 1)" class="ng-binding right-arrow"></a>-->
        <a ui-sref="search.index({page:pagination.current + 1})" title="{{'NEXT'|translate}}" class="ng-binding right-arrow"></a>
    </li>
</ul>