<div class="menu wrap-main-menu" pl-click-outside>
  <a class="but-action" href="#" ng-show="!isOpen" ng-click="isOpen=true" 
     title="{{'ACTIONS'|translate}}">
    <img src="images/icon-profile.png">
  </a>
  <ul ng-show="isOpen" class="menu-fixel main-menu">
    <h2 class="title-page-menu cursor" ng-click="isOpen=false">
      <img src="images/action-black.png">
      <span>{{'ACTIONS'|translate}}</span></h2>
    <li ui-sref-active="active">
      <a ui-sref="important({type:'terms'})">{{'TERMS'|translate}}</a></li>
    <li ui-sref-active="active">
      <a ui-sref="important({type:'privacy'})">{{'PRIVACY_POLICY'|translate}}</a></li>
  </ul>
</div>