<div class="menu wrap-main-menu" pl-click-outside>
  <a ng-show="!isOpen" href="#" class="but-menu" ng-click="isOpen=true" title="{{'PAGES'|translate}}">
    <span></span>
    <span></span>
    <span></span>
  </a>
  <ul ng-show="isOpen" class="menu-fixel main-menu">
    <h2 class='cursor title-page-menu' ng-click="isOpen=false">
      <div class="butMenuActive">
        <span></span>
        <span></span>
        <span></span>
      </div>
      <span translate="PAGES"></span>
    </h2>
    <li ui-sref-active="active">
      <a ng-if="authService.isAuthenticated()" ui-sref="search.index({type:'user', page:pageSearch})" translate="MENU_SEARCH"></a>
      <a ng-if="!authService.isAuthenticated()" translate="MENU_SEARCH" class="visible"></a>
    </li>
    <li ui-sref-active="active">
      <a ng-if="authService.isAuthenticated()" ui-sref="search.dates" translate="MENU_DATES"></a>
      <a ng-if="!authService.isAuthenticated()" translate="MENU_DATES" class="visible"></a>
    </li>
    <li ui-sref-active="active">
      <a ng-if="authService.isAuthenticated()" ui-sref="search.index({type:'lounge', page:pageLounge})" translate="MENU_LOUNGE"></a>
      <a ng-if="!authService.isAuthenticated()" translate="MENU_LOUNGE" class="visible"></a>
    </li>
    <li ui-sref-active="active">
      <a ng-if="authService.isAuthenticated()" ui-sref="profile.edit" translate="MENU_PROFILE"></a>
      <a ng-if="!authService.isAuthenticated()" translate="MENU_PROFILE" class="visible"></a>
    </li>
    <li ng-class="{active: $state.includes('account')}">
      <a ng-if="authService.isAuthenticated()" ui-sref="account.purchase" translate="MENU_ACCOUNT"></a>
      <a ng-if="!authService.isAuthenticated()" translate="MENU_ACCOUNT" class="visible"></a>
    </li>
<!--    <li ui-sref-active="active">
      <a ui-sref="magazine" translate="MENU_MAGAZINE"></a>
    </li>-->
    <li ui-sref-active="active"><a ui-sref="important" translate="MENU_IMPORTANT"></a></li>
    <li ui-sref-active="active">
      <a ng-if="!isHideContact" ui-sref="contact" translate="MENU_CONTACT"></a>
      <a ng-if="isHideContact" translate="MENU_CONTACT" class="visible"></a>
    </li>
    <li>
      <a ng-if="authService.isAuthenticated()" href="/#logout" class="cursor" translate="MENU_LOGOUT"></a>
      <a ng-if="!authService.isAuthenticated()" translate="MENU_LOGOUT" class="visible"></a>
    </li>
  </ul>
</div>