<form class="form-tag" ng-submit="submit()">
<div class="modal-body">
  <div translate="{{message}}"></div>
</div>
<div class="modal-footer">
  <div class="row">
    <div class="col-sm-6">
      <div class="checkbox">
        <label>
          <input type="checkbox" ng-model="checkbox.remember" value="1"/>{{'DONT_SHOW_AGAIN'|translate}}
        </label>
      </div>
    </div>
    <div class="col-sm-6">
      <button class="btn btn-success">{{'OK'|translate}}</button>
    </div>
  </div>
</div>
</form>