<div class="pl-multiselect btn-group">
  <button type="button" class="btn btn-default dropdown-toggle" ng-click="toggleSelect()" ng-disabled="disabled" ng-class="{'error': !valid()}">
    <div ng-if="profileTitle" class="input-control-table">
      <table border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse;">
        <tr>
          <td class="title">{{profileTitle|translate}}</td>
          <td class="arrow"></td>
        </tr>
      </table>
    </div>
    <span ng-if="!header && headerItems.length<1">{{defaultHeader|translate}}</span>
    <span ng-if="header">{{header|translate}}</span>
    <label ng-repeat="i in headerItems">{{i|translate}}</label>
  </button>
  <ul class="dropdown-menu">
    <li ng-repeat="i in items" ng-class="itemClass">
      <a ng-click="select(i);" ng-class="{'active':i.checked}">
        {{i.label|translate}}</a>
    </li>
  </ul>
</div>
