<ul class="wrap-pagination" ng-if="1 < pages.length">
  <li ng-if="directionLinks" ng-class="{ disabled : noPrevious()}">
    <a ng-if="!noPrevious()" ui-sref="search.index({page:page - 1})" title="{{'PREVIOUS'|translate}}" 
       class="left-arrow"></a>
    <a ng-if="noPrevious()" title="{{'PREVIOUS'|translate}}" class="left-arrow"></a>
  </li>
  <li class="paginator-number" ng-repeat="page in pages track by $index" 
      ng-class="{ active : page.active}">
    <a ng-if="!page.active" ui-sref="search.index({page:page.number})">{{ page.text }}</a>
    <a ng-if="page.active">{{ page.text }}</a>
  </li>
  <li ng-if="directionLinks" ng-class="{ disabled : noNext()}">
    <a ng-if="!noNext()" ui-sref="search.index({page:page + 1})" title="{{'NEXT'|translate}}" 
       class="right-arrow"></a>
    <a ng-if="noNext()" title="{{'NEXT'|translate}}" class="right-arrow"></a>
  </li>

<!--<ul class=\"pagination\">\n" +
    "  <li ng-if=\"boundaryLinks\" ng-class=\"{disabled: noPrevious()}\"><a href ng-click=\"selectPage(1)\">{{getText('first')}}</a></li>\n" +
    "  <li ng-if=\"directionLinks\" ng-class=\"{disabled: noPrevious()}\">
           <a href ng-click=\"selectPage(page - 1)\">{{getText('previous')}}</a></li>\n" +
    "  <li ng-repeat=\"page in pages track by $index\" ng-class=\"{active: page.active}\">
           <a href ng-click=\"selectPage(page.number)\">{{page.text}}</a></li>\n" +
    "  <li ng-if=\"directionLinks\" ng-class=\"{disabled: noNext()}\">
<a href ng-click=\"selectPage(page + 1)\">{{getText('next')}}</a></li>\n" +
    "  <li ng-if=\"boundaryLinks\" ng-class=\"{disabled: noNext()}\">
<a href ng-click=\"selectPage(totalPages)\">{{getText('last')}}</a></li>\n" +
    "</ul>-->
</ul>