<div class="action wrap-menu-left" pl-click-outside>
  <a href="#" class="but-action" ng-show="!isOpen" ng-click="isOpen = !isOpen" 
     title="{{'PRIVACY_FILTER'|translate}}">
    <img ng-src="images/img-filter-white.png"/></a>
  <div ng-show="isOpen" class="box-popup popup-filter">
    <!--     <div class="pop-bg"></div> -->
    <div class="pop-title cursor" ng-click="isOpen = !isOpen">
      <img src="images/img-fiter.png"> {{'PRIVACY_FILTER'|translate}}
    </div>
    <div class="pop-content" slimscroll="slimScrollOptions" 
         auto-resize="true" default-height="slimScrollResize">
      <div class="content-popup">
        <p translate="PRIVACY_FILTER_1"></p>
        <p translate="PRIVACY_FILTER_2"></p>
        <p translate="PRIVACY_FILTER_3"></p>
        <div class="form-popup">
          <div class="row">
            <div class="col-xs-4">
              <div class="box-form height-170">
                <div class="title-box-form">{{'GENDER'|translate}}</div>
                <div class="text-box-form">
                  <div class="multi-checkbox pull-input">
                    <label ng-repeat="(key,value) in dropdown.gender">
                      <input type="checkbox" checklist-model="privacyFilter.genders" 
                             checklist-value="key"/>
                      <span>{{key| translate}}</span>
                    </label>
                  </div>
                </div>
              </div>
            </div><!--col-xs-4-->
            <div class="col-xs-4">
              <div class="box-form height-170">
                <div class="title-box-form">{{'STATUS'|translate}}</div>
                <div class="text-box-form">
                  <div class="multi-checkbox pull-input">
                    <label ng-repeat="(key,value) in dropdown.status">
                      <input type="checkbox" checklist-model="privacyFilter.statuses" 
                             checklist-value="key"/>
                      <span>{{key| translate}}</span>
                    </label>
                  </div>
                </div>
              </div>
            </div><!--col-xs-4-->
            <div class="col-xs-4">
              <div class="box-form height-170">
                <div class="title-box-form">{{'ORIENTATION'|translate}}</div>
                <div class="text-box-form">
                  <div class="multi-checkbox pull-input">
                    <label ng-repeat="(key,value) in dropdown.orientation">
                      <input type="checkbox" checklist-model="privacyFilter.orientations" 
                             checklist-value="key"/>
                      <span>{{value}}</span>
                    </label>
                  </div>
                </div>
              </div>
            </div><!--col-xs-4-->
          </div>
          <div class="row">
            <div class="col-xs-4" id="filterAge">
              <div class="box-form height-300">
                <div class="title-box-form">{{'AGE'| translate}}</div>            
                <div class="row">
                  <div class="col-xs-5">
                    <input type="text" class="form-control" 
                           ng-model="privacyFilter.ageFrom"
                           ng-focus="focusFilter('#filterAge')"/></div>
                  <div class="col-xs-2 gach-input"> - </div>
                  <div class="col-xs-5">
                    <input type="text" class="form-control" 
                           ng-model="privacyFilter.ageTo"
                           ng-focus="focusFilter('#filterAge')"/></div>
                </div>
              </div>
            </div><!--col-xs-4-->        
            <div class="col-xs-4">
              <div class="box-form height-300">
                <div class="title-box-form">{{'UPFOR'|translate}}</div>
                <div class="text-box-form">
                  <div class="multi-checkbox pull-input">
                    <label ng-repeat="(key,value) in dropdown.upfor">
                      <input type="checkbox" checklist-model="privacyFilter.upfors" 
                             checklist-value="key"/>
                      <span>{{value}}</span>
                    </label>
                  </div>
                </div>
              </div>
            </div><!--col-xs-4-->
            <div class="col-xs-4">
              <div class="box-form height-300">
                <div class="title-box-form">{{'OTHER'|translate}}</div>
                <div class="text-box-form">
                  <div class="multi-checkbox pull-input">
                    <label ng-repeat="(key,value) in dropdown.other">
                      <input type="checkbox" checklist-model="privacyFilter.others" 
                             checklist-value="key"/>
                      <span>{{value}}</span>
                    </label>
                    <label>
                      <input type="checkbox" ng-model="privacyFilter.offline" value="true"/>
                      <span>{{'WHEN_OFFLINE'|translate}}</span>
                    </label>
                    <label>
                      <input type="checkbox" ng-model="privacyFilter.premium" value="true"/>
                      <span>{{'NON_PREMIUM'|translate}}</span>
                    </label>
                    <label>
                      <input type="checkbox" ng-model="privacyFilter.picture" value="true"/>
                      <span>{{'NO_PICTURE'|translate}}</span>
                    </label>
                    <label>
                      <input type="checkbox" ng-model="privacyFilter.interesting" value="true"/>
                      <span>{{'NOT_INTERESTING'|translate}}</span>
                    </label>
                  </div>
                </div>
              </div>
            </div><!--col-xs-4-->
          </div>
          <div class="row">
            <div class="col-xs-4">
              <div class="box-form height-300">
                <div class="title-box-form">{{'ETHNICITY'|translate}}</div>
                <div class="text-box-form">
                  <div class="multi-checkbox pull-input">
                    <label ng-repeat="(key,value) in dropdown.ethnicity">
                      <input type="checkbox" checklist-model="privacyFilter.ethnicities" 
                             checklist-value="key"/>
                      <span>{{value}}</span>
                    </label>
                  </div>
                </div>
              </div>
            </div><!--col-xs-4-->
            <div class="col-xs-4">
              <div class="box-form height-300">
                <div class="title-box-form">{{'RELIGION'|translate}}</div>
                <div class="text-box-form">
                  <div class="multi-checkbox pull-input">
                    <label ng-repeat="(key,value) in dropdown.religion">
                      <input type="checkbox" checklist-model="privacyFilter.religions" 
                             checklist-value="key"/>
                      <span>{{value}}</span>
                    </label>
                  </div>
                </div>
              </div>
            </div><!--col-xs-4-->
            <div class="col-xs-4" id="filterHeight">
              <div class="box-form">
                <div class="title-box-form">{{'HEIGHT'|translate}}</div>
                <div class="text-box-form">
                  <div class="row">
                    <div class="col-xs-5">
                      <input type="text" class="form-control" 
                             ng-model='privacyFilter.heightFrom'
                             ng-focus="focusFilter('#filterHeight')"/></div>
                    <div class="col-xs-2 gach-input"> - </div>
                    <div class="col-xs-5">
                      <input type="text" class="form-control" 
                             ng-model='privacyFilter.heightTo'
                             ng-focus="focusFilter('#filterHeight')"/></div>
                  </div>
                  <p></p>
                </div>
              </div>
              <div class="box-form">
                <div class="title-box-form">{{'LOOKS'|translate}}</div>
                <div class="text-box-form">                    
                  <div class="multi-checkbox pull-input">
                    <label ng-repeat="(key,value) in dropdown.figure">
                      <input type="checkbox" checklist-model="privacyFilter.figures" 
                             checklist-value="key"/>
                      <span>{{value| translate}}</span>
                    </label>
                  </div>
                </div>
              </div>
            </div><!--col-xs-4-->
          </div>
          <div class="row">
            <div class="col-xs-4">
              <div class="box-form height-780">
                <div class="title-box-form">{{'COUNTRY'|translate}}</div>
                <div class="text-box-form">
                  <div class="multi-checkbox pull-input">
                    <label ng-repeat="(key,value) in dropdown.country">
                      <input type="checkbox" checklist-model="privacyFilter.countries" 
                             checklist-value="key"/>
                      <span>{{value}}</span>
                    </label>
                  </div>
                </div>
              </div>
            </div><!--col-xs-4-->
            <div class="col-xs-4">
              <div class="box-form height-780">
                <div class="title-box-form">{{'SPEAKING'|translate}}</div>
                <div class="text-box-form">
                  <div class="multi-checkbox pull-input">
                    <label ng-repeat="(key,value) in dropdown.speaking">
                      <input type="checkbox" checklist-model="privacyFilter.speakings" 
                             checklist-value="key"/>
                      <span>{{value}}</span>
                    </label>
                  </div>
                </div>
              </div>
            </div><!--col-xs-4-->
            <div class="col-xs-4">
              <div class="box-form height-780">
                <div class="title-box-form">{{'STYLE'|translate}}</div>
                <div class="text-box-form">
                  <div class="multi-checkbox pull-input">
                    <label ng-repeat="(key,value) in dropdown.style">
                      <input type="checkbox" checklist-model="privacyFilter.styles" 
                             checklist-value="key"/>
                      <span>{{value}}</span>
                    </label>
                  </div>
                </div>
              </div>
            </div><!--col-xs-4-->
          </div>
          <div class="button-search">

            <div class="alert alert-success" ng-show="privacySuccess">
              {{privacySuccess| translate}}
            </div>
            <button class="submit-search" ng-click='saveProfileFilter()'>
              <img src="images/save.png"></button>
          </div>

        </div><!--form-popup-->
      </div>
    </div><!--pop-content-->
  </div>
</div>