<div class="dropdown">
  <button class="btn" ng-click="toggleSelect()" ng-disabled="disabled" ng-class="{'error': !valid()}">
    <span class="pull-left">{{header}}</span>
  </button>
  <ul class="dropdown-menu">
    <li ng-repeat="i in items">
      <a ng-click="select(i);" ng-class="{'active':i.checked}">
        {{i.label}}</a>
    </li>
  </ul>
</div>