.css-checkbox input[type=checkbox] {
  display:none;
}

.css-checkbox input[type=checkbox] + .css-label {
  padding-left:33px;
  height:33px; 
  display:inline-block;
  line-height:22px;
  background-repeat:no-repeat;
  background-position: 0 0;
  font-size:22px;
  vertical-align:middle;
  cursor:pointer;

}

.css-checkbox input[type=checkbox]:checked + .css-label {
  background-position: 0 -38px;
}
.css-label {
  background-image:url(../images/checkbox.png);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}