@media all and (min-width: 320px) and (max-width: 1024px) {
  .upload-profile {
    position: relative;
    top: 0px;
  }
  .form-chat {
    top:0px;
  }
}
@media all and (min-width: 320px) and (max-width: 991px) {
  .search-filter .large-item .avatar-image{
    height: auto;
  }
}
/*@media all and (min-width: 768px) and (max-width: 991px) {
  .search-filter{
    width: 400px;
  }
}*/
/*490px -> 768px change to 490px -> 991px*/
@media all and (min-width: 490px) and (max-width: 991px) {
  .page-profile{
    margin-left: 60px;
  }
  .form-chat{
    position: relative;
    left: 0px;
    width: auto;
  }
  .container-profile{
    width: 400px;
    margin: 0 auto;
  }
  .search-dates-filter{
    width: 470px;
  }
  .search-filter{
    width: 400px;
  }
}
@media all and (min-width: 490px) and (max-width: 550px) {
  .page-guest{
    padding-left: 30px;
  }
  .container-social{
    width: 400px;
  }
}
@media all and (min-width: 320px) and (max-width: 490px) {
  .page-guest{
    padding-left: 30px;
  }
  .img-main img {
    width: 100%;
  }
  .logo img {
    width: 145px;
  }
  .container{
    width: auto;
    padding-left: 10%;
    padding-right: 10%;
  }
  .container-social   {
    padding-left: 10%;
    padding-right:10%;
    width: auto;
  }
  .container-profile, .container-nomar, .container-large {
    width: auto;
    padding-left: 5%;
    padding-right:5%;
  }
  img {
    /*max-width: 100%;*/
  }
  .but-menu {
    right: 60px;
  }
  .but-menu-active {
    right: 137px;
    top:25px;
  }
  .box-signin {
    right: 0px;
    width: 80%;
  }
  .box-poup {
    width: 100%;
  }
  .page-profile {
    padding-left: 40px;
  }
  .activity-tab {
    width: 44px;
  }
  .activity-came{
    width: 44px;
  }
  .activity-came .acti-came img{
    height: 15px;
  }
  .acti-webcame{
    height: 112px;
    line-height: 112px;
  }
  .acti-webcame video{
    margin-top: 29px;
  }
  .acti-webcame.active{
    width: 84px;
  }
  .box-activity {
    width: 300px;
  }
  .box-activity-active {
    left: -256px;
  }
  .activity-table .text-chat{
    max-width: 125px;
  }
  .activity-table img {
    /*    width: 30px;
        margin-left: 15px;*/
  }
  .activity-table .show-activity{
    width: 49px;
  }
  .tab-activity li img {
    width: 32px;
  }
  .tab-activity li.tab-last{
    padding-left: 0;
  }
  .tab-activity li a.show-activity {
    padding-right:0px;
  }
  .title-activity img {
    width: 25px;
  }
  .box-event table th span {
    font-size: 12px;
  }
  .upload-profile {
    width: auto;
  }
  .form-chat {
    position: relative;
    left: 0px;
    width: auto;
  }
  .sign-in, .but-action, .but-search{
    right: 20px;
  }
  .box-activity img {
    height: auto;
  }
  .box-user .avatar-image, .box-user-home img{
    height: auto;
  }
  .search-filter{
    width: 260px;
  }
  .search-filter.large{
    width: 100%;
  }
  .search-dates-filter{
    position: relative;
    width: 260px;
  }
  .wrap-pagination-date .dates-paginate{
    margin: 0 auto;
    margin-top: 45px;
    float: none;
  }
  .wrap-pagination-date .left-arrow,.wrap-pagination-date .right-arrow{
    position: absolute;
    top: 0;
  }
  .wrap-pagination-date .left-arrow{
    left: 20px;
  }
  .wrap-pagination-date .right-arrow{
    right: 20px;
  }
  .left-arrow, .right-arrow{
    width: 25px;
    height: 25px;
  }
  .activity-table .box-chat-blue{
    display: none;
  }
  .interesting{
    width: 220px;
  }
  .interesting h2{
    font-size: 21px;
  }
}