@media all and (min-width: 320px) and (max-width: 1024px) {
  .upload-profile {
    position: relative;
  }
}
@media all and (min-width: 320px) and (max-width: 991px) {
  .search-filter .large-item .avatar-image{
    height: auto;
  }
}
/*490px -> 768px change to 490px -> 991px*/
@media all and (min-width: 490px) and (max-width: 991px) {
  /*  .page-profile{
      margin-left: 60px;
    }*/
  .form-chat{
    position: relative;
    left: 0px;
    width: auto;
  }
  .container-profile{
    width: 400px;
    margin: 0 auto;
  }
  .search-dates-filter{
    width: 470px;
  }
  .search-filter{
    width: 400px;
  }
  .box-contact .icon-chat{
    margin-bottom: 20px;
  }
}
@media all and (min-width: 490px) and (max-width: 550px) {
  .page-guest{
    padding-left: 30px;
  }
  .container-social{
    width: 400px;
  }
}
@media all and (min-width: 320px) and (max-width: 490px) {
  .header.fixed{
    height: 58px;
  }
  .bg-top{
    padding-top: 58px;
  }
  .home-video a{
    font-size: 28px;
  }
  .bg-white{
    padding: 40px 0;
  }
  .social h2{
    margin-top:0;
  }
  .page-guest{
    padding-left: 28px;
  }
  .img-main img {
    width: 100%;
  }
  .logo img {
    width: 145px;
  }
  .container{
    width: auto;
    padding-left: 10%;
    padding-right: 10%;
  }
  .container-social   {
    padding-left: 10%;
    padding-right:10%;
    width: auto;
  }
  .container-profile, .container-nomar, .container-large, .container-profile-edit {
    width: auto;
    padding-left: 5%;
    padding-right:5%;
  }
  .but-menu {
    right: 60px;
  }
  .but-menu-active {
    right: 137px;
    top:25px;
  }
  .box-popup .pop-title, .menu ul h2, .box-signin h2{
    height: 60px;
    line-height: 60px;
  }
  .page-profile {
    padding-left: 40px;
  }
  .activity-tab {
    width: 44px;
  }
  .activity-came{
    width: 44px;
  }
  .activity-came .acti-came img{
    height: 15px;
  }
  .acti-webcame{
    height: 112px;
    line-height: 112px;
  }
  .acti-webcame video{
    margin-top: 29px;
  }
  .acti-webcame.active{
    width: 84px;
  }
  .activity-table .show-activity{
    width: 49px;
  }
  .tab-activity li img {
    width: 32px;
  }
  .tab-activity li.tab-last{
    padding-left: 0;
    width: 46px;
  }
  .tab-activity li a.show-activity {
    padding-right:0px;
  }
  .title-activity img {
    width: 25px;
  }
  .box-event table th span {
    font-size: 12px;
  }
  .upload-profile {
    width: auto;
  }
  .form-chat {
    position: relative;
    left: 0px;
    width: auto;
  }
  .sign-in, .but-action{
    right: 20px;
  }
  .box-activity img {
    width: 33px;
  }
  .box-user .avatar-image, .box-user-home img{
    height: auto;
  }
  .search-filter{
    width: 260px;
  }
  .search-filter.large{
    width: 100%;
  }
  .left-arrow, .right-arrow{
    width: 25px;
    height: 25px;
    z-index: 1;
  }
  .interesting{
    width: 235px;
  }
  .interesting h2{
    font-size: 21px;
    line-height: 27px;
  }
  .form-account .input-control.filed-big select, .form-account .input-control.filed-big input{
    font-size:15px;
  }
  .form-account .input-control.filed-big label{
    font-size: 15px;
    padding-right: 28px;
  }
  .logo{
    display:none;
  }
  .start-page .logo{
    display:block;
  }
  .gallery-only ul li .img-add .img-des{
    top: 140px;
  }
  .gallery-only ul li .img-add .img-des h1{
    font-size: 25px;
  }
  
  /*firefox only*/
  .firefox .box-event .text-chat textarea{
    min-height: 300px;
  }
  .firefox .box-form textarea.form-control{
    min-height: 220px;
  }
}
@media all and (min-width: 400px) and (max-width: 490px){
  .box-activity-active {
    left: -356px;
  }
  .search-dates-filter{
    position: relative;
    width: 310px;
  }
  .wrap-pagination-date .dates-paginate {
    margin-top: 13px;
  }
}
@media all and (min-width: 320px) and (max-width: 399px){
  .box-join-bg, .box-join{
    width: 100%;
  }
  .box-signin{
    width: 100%;
  }
  .box-contact .box-chat .text-chat textarea {
    min-height: 95px;
  }
  .pc-none-display{
    display: block;
  }
  .mb-none-display{
    display: none;
  }
  .activity-table .text-chat{
    padding: 2px;
  }
  .activity-table .text-chat{
    max-width: 140px;
  }
  .activity-table .date-message{
    width: 150px;
  }
  .search-dates-filter{
    position: relative;
    width: 260px;
  }
  .wrap-pagination-date .dates-paginate{
    margin: 0 auto;
    margin-top: 12px;
    float: none;
  }
  .wrap-pagination-date .left-arrow,.wrap-pagination-date .right-arrow{
    position: absolute;
    top: 0;
  }
  .wrap-pagination-date .left-arrow{
    left: 0;
  }
  .wrap-pagination-date .right-arrow{
    right: 0;
  }
  .country-acti{
    max-width: 82px;
  }
  .wrap-pagination-date ul li{
    font-size: 15px;
  }
  .search-dates-filter .row{
    position: relative;
  }
  .button-jonin{
    font-size: 25px;
  }
  .username-in-search{
    font-size: 13px;
  }
  .box-signin {
    /*width: 100%;*/
  }
  .bar-picture{
    height: 40px;
  }
  .bar-picture .age{
    position: absolute;
    right: 0;
  }
  .bar-picture .stockholm{
    bottom: 0;
    left: 0;
  }
  .input-control .dropdown-menu li, .box-event-head .dropdown-menu li{
    width: 50%;
  }
  .box-popup {
    width: 100%;
  }
}
@media all and (min-width: 320px) and (max-width: 340px){
  .wrap-created-date .btn-sm, .wrap-created-date .btn-group-sm>.btn{
    padding: 4px 8px;
  }
  .form-profile .input-control .input-control-label, 
  .form-profile .input-control.input-lg-control .input-control-table{
    width: 40%;
  }
  .profile-view .form-tag .input-control .input-control-value,
  .large-box-profile{
    padding-left: 40%;
  }
}