* {
  margin: 0;
  padding: 0;
  outline: none;
  -webkit-box-shadow:none;
}
@font-face {
    font-family: 'Myriad Pro';
    src: url('../fonts/myriadpro-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face{
  font-family:'Glyphicons Halflings';
  src:url('../bower_components/bootstrap/dist/fonts/glyphicons-halflings-regular.eot');
  src:url('../bower_components/bootstrap/dist/fonts/glyphicons-halflings-regular.eot') format('embedded-opentype'),
    url('../bower_components/bootstrap/dist/fonts/glyphicons-halflings-regular.woff') format('woff'),
    url('../bower_components/bootstrap/dist/fonts/glyphicons-halflings-regular.ttf') format('truetype'),
    url('../bower_components/bootstrap/dist/fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg')
}
body {
  background-color: #1e1e1e;  
  color: #000;
  font-size: 14px;
  font-weight:300;
  line-height:16px;
  font-family: 'Myriad Pro';/*'dekarregular'*/
}
h1, h2, h3, h4, h5, h6, b, strong, th {
  font-weight:300;
}
h2 {
  font-size: 20px;
}
a, a:hover {
  color: #000;
  text-decoration: none;
}
li {
  list-style: none outside none;
}
ul {
  margin: 0;
}
img {
  border: 0 none;
}
textarea{
  resize: none;
}
label{
  font-weight:normal;
}
button{
  background: none;
}
.clear {
  clear: both;
}
.opacity1{
  opacity: 1;
}
.cursor{
  cursor: pointer;
}
::-webkit-input-placeholder {
  color: #1e1e1e !important;
}
:-moz-placeholder {
  color: #1e1e1e !important; 
  opacity:  1;
}
::-moz-placeholder {
  color: #1e1e1e !important;
  opacity:  1;
}
:-ms-input-placeholder {
  color: #1e1e1e !important;
  opacity:  1;
}
input[disabled]{
  color: #666;//#a0a0a0
}
input:focus, textarea:focus, select:focus, .form-control:focus {
  /*border:none;*/
  -webkit-box-shadow:none;
  -moz-box-shadow:none;
  box-shadow:none;
  outline:none;
}
[translate]{
  white-space: pre-line;
}
.no-uniform {
  cursor: pointer;
  font-family: Arial;
  font-size: 118px;
  height: 100%;
  left: 0;
  margin: 0;
  opacity: 0;
  padding: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.container {
  position:relative;
  width: 350px;
}
.logo {
  position: absolute;
  padding-left: 75px;
  float: left;
  margin-top: 5px;
}
.logo img {
  width: 180px;
}
.right-header {
  float: right;
}
.but-menu span {
  display: block;
  height: 2px;
  width: 20px;
  background: #fff;
  border-radius:4px;
  margin-bottom: 3px;
}
.but-menu {
  position: fixed;
  right: 96px;
  top: 25px;
  z-index: 10;
}
.but-menu-active {
  right: 137px;
  z-index: 100000;
  top:23px;
}
.but-menu-active span {
  background: #333;
}
.menu {
  position: absolute;
  right: 0px;
}
.menu ul{
  position: absolute;
  right: 0px;
  width: 180px;
  background: #fff;
  text-align: center;
}
.menu li a{
  display: block;
  color: #666;
}
.menu li{
  margin-bottom: 20px;
  margin-top: 20px;
}
.menu .box-signin li{
  margin-bottom: 0;
  margin-top: 0;
}
.menu li.active a{
  font-weight: 500;
  color: #000;
}
.menu li .dropdown-menu li{
  margin: 0;
}
.menu ul h2, .box-signin h2 {
  margin: 0;
  height: 67px;
  line-height: 67px;
  border-bottom: 2px solid;
  text-transform: uppercase;
}
.page-profile{
  padding-left: 58px;
}
.page-guest{
  padding-left: 40px;
}
.header.fixed {
  position: fixed;
  height: 67px;
  background-color: #1e1e1e; 
  width: 100%;
  z-index:4;
}
.header.fixed .logo{
  /*display: none;*/
}
.main{
  position: relative;
  padding-top: 80px;
  margin: 0 auto;
}
.bg-back, .bg-white {
  background: #1e1e1e ;
  padding: 60px 0px;
  position: relative;
  color: #fff;
}
.bg-white {
  background: #fff;
}
.arrow-section {
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: -14px;
  z-index: 1;
}
.arrow-section span {
  display: inline-block;
  background: url('../images/arrow-section.png') no-repeat;
  width: 193px;
  height: 11px;
}
.bg-white .arrow-section span {
  background: url('../images/arrow-section1.png') no-repeat;
}
.bg-top {
  padding: 0;
  padding-top: 67px;
}
.home-video{
  position: relative;
}
.home-video a{
  font-size: 35px;
  color: #FFF;
  position: absolute;
  left: 30px;
  bottom: 7px;
}
.but-action {
  display: block;
  position: fixed;
  z-index: 10;
  right: 35px;
  top: 19px;
  width: 20px;
}
.but-action img {
  width: 20px;
}
.start-page .but-menu, .start-page .but-action{
  position: absolute;
}
.box-user {
  background: #fff;
  border-radius:5px;
  padding: 5px;
  margin-bottom: 4px;
  padding-bottom: 0px;
}
.box-user img {
  width: 100%;
}
.box-user a {
  color: #666;
}
.box-user p {
  margin: 0px;
  font-size: 13px;
  text-align: center;
  margin-top: 5px;
}
.box-user p span {
  font-size: 12px;
  color: #666;
  display: block;
}
.img-main {
  text-align: center;
  margin-top: 20px;
}
.try-use strong{
  font-weight: 700;
}
.try-use .input-control{
  background: #1e1e1e;
  position: relative;
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 10px;
  border: solid 3px #1e1e1e;
}
.try-use .input-control .input-control-label {
  background: url('../images/arrow-form1.png') right no-repeat #fff;
  height: 24px;
  width: 50%;
  line-height: 24px;
  padding-right: 20px;
  text-align: center;
  color: #1e1e1e;
  position: absolute;
  border-radius: 5px 0px 0px 5px;
  font-weight: 300;
}
.try-use .input-control .input-control-value {
  padding-left: 50%;
  border: 0px;
  width: 100%;
  height: 24px;
  line-height: 24px;
  text-align: center;
  background: none;
}
.social {
  color: #1e1e1e;
}
.social ul {
  display:table;
  width: 100%;
  margin-top: 20px;
}
.social ul li {
  display: table-cell;
}
.social ul li a {
  display: block;
  margin-left: 5px;
  margin-right: 5px;
}
.social ul li img {
  max-width: 100%;
}
.all-in-one .left-all {
  font-size: 15px;
  color: #000;
  line-height: 19px;
  text-align: right;
}
.all-in-one .right-all {
  font-size: 15px;
  color: #000;
  line-height: 19px;
}
.all-in-one {
  position:relative;
}
.all-in-one .img-all{
  text-align: center;
}
.all-in-one .img-all img {
  height: 222px;
}
.list-media img {
  width: 100%;
  margin-top: 20px;
}
.inthemedia .title img {
  width: 50%;
}
.member-say {
  margin-top: 20px;
  font-size: 13px;
}
.member-say .title img {
  width: 80%;
}
.member-say li {
  margin-bottom: 10px;
}
.member-say p {
  margin-bottom: 0px;
}
.name-member-say {
  color: #a0a0a0;
  margin-bottom: 10px;
}
.list-member-say p span {
  font-size: 14px;
}
.footer {
  text-align: center;
  padding: 10px;
  background: #fff;
}
.footer span {
  font-size: 15px;
}
/****************
 * register left column
 ****************/
.join-try {
  position: fixed;  
  top: 0px;
  left: 0px;
  height: 100%;
  z-index: 11;
}
.join-try img {
  height: 100%;
}
.butjoin {
  z-index: 1;
}
.butjoin-in {
  position:absolute;
  height: 100%;
}
.box-join-bg{
  top:0;
  background: #fecc00;
  width: 300px;
  bottom: 0;
  position: fixed;
}
.box-join {
  width: 300px;
  padding: 10px;
  height: auto;
  line-height: 14px;
  position: relative;
  z-index: 100;
}
.box-join .register-close{
  float: right;
  font-weight: bold;
  font-size: 18px;
}
.box-join h1, .text-form h1  {
  font-size: 20px;
  margin-bottom: 0px;
  margin-top: 10px;
}
.box-join h1 span, .text-form h1 span {
  font-size: 13px;
}
.box-join .input-control .dropdown-menu li{
  width: 50%;
}
/*************
 * form default
 *************/
.form-tag {
  margin-top: 10px;
}
.form-tag .input-control {
  background: #fff;
  position: relative;
  border-radius:5px;
  overflow: hidden;
  margin-bottom: 5px;
  border: solid 3px #FFF;
}
.form-tag .input-control .input-control-label {
  background: url('../images/arrow-form.png') right no-repeat #1e1e1e;
  height: 24px;
  line-height: 18px;
  padding: 3px 3px 3px 8px;
  padding-right: 30px;
  color: #fff;
  display: block;
  position: absolute;
  border-radius: 5px 0px 0px 5px;
  font-weight: 300;
}
.form-tag .input-control input,
.form-tag .input-control textarea, 
.form-tag .input-control .input-control-value {
  border: 0px;
  width: 100%;
  height: 24px;
  line-height: 24px;
  text-align: center;
  background: none;
}
.profile-view .form-tag .input-control .input-control-value{
  padding-left: 31%;
}
.form-tag .input-control textarea {
  height: 100px !important;
}
.button-jonin {
  display: block;
  border-radius:5px;
  background: #1e1e1e;
  font-size: 20px;
  line-height: 35px;
  padding: 15px 0px;
  color: #fecc00;
  border:0px;
  width: 100%
}
.button-pay {
  border-radius:5px;
  background: #fecc00;
  color: #1e1e1e;
  font-size: 35px;
  line-height: 35px;
  padding: 15px 30px;
  border:0px;
}
.box-popup {
  position: fixed;
  background-color: #FFF;
  height: 100%;
  width: 350px;
  top: 0px;
  right: 0px;
  z-index: 100;
}
.box-popup .pop-bg{
  position: fixed;
  height: 100%;
  width: 100%;
  background: #FFF;
  top: 0;
}
.box-popup .pop-title{
  height: 67px;
  line-height: 67px;
  position: relative;
  border-bottom: 2px solid;
  text-transform: uppercase;
  margin: 0;
  font-size: 20px;
}
.box-popup .pop-title img {
  width: 25px;
  margin-left: 10px;
}
.box-popup .pop-content{
  position: relative;
  padding: 10px;
  height: 100%;
}
.box-popup .form-tag .input-control{
  border: solid 1px #ddd;
  padding: 3px;
  background-color: #1E1E1E;
}
.box-popup .form-tag .input-control input{
  color: #FFF;
}
.box-popup .form-tag .input-control input::-webkit-input-placeholder {
  color: #FFF !important;
}

.box-popup .form-tag .input-control input:-moz-placeholder {
  color: #FFF !important;
}

.box-popup .form-tag .input-control input::-moz-placeholder {
  color: #FFF !important;
}
.box-popup .form-tag .input-control input:-ms-input-placeholder {  
  color: #FFF !important;  
}
.box-popup .box-form {
  background: #1e1e1e;
}
.color-red {
  color: #dc3232 !important;
}
.box-popup .form-white p span {
  width: 40%;
}
.box-popup .form-white .input-control .input-control-label{
  width: 40%;
}
.but-bottom a {
  float: left;
  margin-top: 10px;
}
.but-bottom button {
  float: right;
  border: 0px;
}
.but-bottom button img {
  width: 30px;
}
/************
 * signin
 ************/
.box-signin {
  width: 350px;
  top: 0;
  right: 0;
  padding: 0px;
}
.box-signin h2 img {
  width: 19px;
  vertical-align: middle;
  margin-left: 10px;
  margin-top: -8px;
}
.box-signin h2 {
  margin: 0px;
  position: relative;
  cursor: pointer;
}
.checkbox, .radio{
  line-height: 20px;
  text-align: left;
}
.box-signin .form-tag {
  padding: 10px;
}
.box-signin .form-tag .input-control {
  border: 1px solid #ddd;
  padding: 3px;
  background-color: #1E1E1E;
}
.box-signin .form-tag .input-control input{
  color: #FFF;
}
.box-signin input::-webkit-input-placeholder {
  color: #FFF !important;
}

.box-signin input:-moz-placeholder {
  color: #FFF !important;
}

.box-signin input::-moz-placeholder {
  color: #FFF !important;
}
.box-signin input:-ms-input-placeholder {  
  color: #FFF !important;  
}
.box-signin .pl-multiselect .btn{
  color: #FFF;
}
.close-sign {
  position: absolute;
  display: block;
  right: 0px;
  top: 8px;
  cursor: pointer;
  font-family:Arial, Helvetica, sans-serif;
  font-size: 18px;
}
.box-picture {
  border:5px solid #fff;
  border-radius:5px;
  position: relative;
}
.picture-control {
  text-align: center;
  background: url('../images/bg-top-pic.png');
  position: absolute;
  top: 0px;
  width: 100%;
  padding: 5px;
  z-index: 3;
}
.picture .picture-control img {
  height:40px;
  width: auto;
}
.picture {
  width: 100%;
  position: relative;
  text-align: center;
  overflow: hidden;
  min-height: 200px;
  background-color: #fff;
}
.picture img{
  width: 100%;
}
.picture .webcam-loader{
  width: auto;
  position: absolute;
  top: 40px;
  left: 34%;
}
.picture .save-box{
  background: url('../images/bg-top-pic.png');
  padding: 5px;
  position: absolute;
  bottom: 0;
  width: 100%;
}
.picture .save-box img{
  width: auto;
  height: 40px;
}
.picture .profile-btn-icon{
  height: 30px;
  width: auto;
}
.upload-input {
  position: relative;
  cursor: pointer;
}
.top-picture{
  z-index: 10;
  padding: 0;
}
.top-picture .row{
  padding: 5px;
}
.bottom-picture {
  background: #fff;
  padding-top: 5px;
}
.bar-picture {
  position: relative;
  text-align: center;
  font-size: 19px;
  line-height: 19px;
  height: 19px;
}
.bar-picture span{
  position: absolute;
}
.bar-picture  .name {
  left: 0px;
}
.bar-picture  .stockholm {
  right: 0px;
}
.bar-picture  .age {
  position: relative;
}
.text-picture {
  padding: 5px;
  border-radius: 5px;
  color: #fff;
  margin-top: 5px;
  height: 26px;
}
.text-picture input {
  width:100%;
  background:none;
  padding:0px;
  border:0px;
}
.picture .countdown {
  width: 100%;
  height: 100%;
  padding-top: 60%;
  font-size: 100px;
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  line-height: 100%;
}
.green {
  background: #82dc82;
}
.red {
  background: #dc3232;
}
.grey {
  background: #1e1e1e;
}
.text-picture input::-webkit-input-placeholder {
  color: #FFF !important;
}

.text-picture input:-moz-placeholder {
  color: #FFF !important;  
}

.text-picture input::-moz-placeholder {
  color: #FFF !important;  
}
.text-picture input:-ms-input-placeholder {  
  color: #FFF !important;  
}
/**************
 * form profile
 **************/
.form-profile {
  margin-top: 20px;
}
.form-profile .input-control .input-control-label {
  width: 30%;
  border-radius:0;
}
.form-profile .input-control {
  border-width: 3px;
  text-align: center;
  margin-bottom: 10px;
}
.form-profile .input-control.input-lg-control .input-control-table {
  width: 30%;
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
}
.form-profile .input-control.input-lg-control .input-control-table table{
  width: 100%;
  height: 100%;
}
.form-profile .input-control.input-lg-control .input-control-table table .title{
  background-color: #1e1e1e;
  color: #fff;
  font-weight: normal;
}
.form-profile .input-control.input-lg-control .input-control-table table .arrow{
  width:  17px;
  background: url('../images/arrow-textarea.png') no-repeat;
  background-size: 100% 100%;
}
.btn-profile-save{
  background: none;
}
.input-lg-control .pull-input{
  overflow: auto;
  height: 105px;
}

.box-form {
  background: #fff;
  border-radius:5px;
  padding: 3px;
  margin-bottom: 10px;
}
.title-box-form {
  background: #1e1e1e;
  padding: 7px;
  color: #fff;
  text-align: center;
  border-radius:5px 5px 0px 0px;
}
.title-arrow{
  background: url('../images/box-form.jpg') center top no-repeat;
  height: 20px;
  margin-top: -1px;
}
.text-box-form {
  padding:2px;
}
.text-box-form.text-area{
  min-height: 100px;
}
.key-work div {
  position: relative;
  margin-bottom: 10px;
}
.key-work span {
  position: absolute;
  left: 0px;
  top:5px;
  z-index:1;
}
.box-form .key-work .form-control {
  border: 0px;
  border-bottom: 1px dotted #ccc;
  padding-left: 17px;
  font-size: 13px;
}
.box-form .key-work textarea.form-control {
  min-height: 0;
}
.box-form textarea {
  border: 0px;
  height: 100px;
}
.form-control {
  font-size: 15px;
}
.box-chat {
  background: #aae6dc;
  border: 3px solid #8cc8be;
  border-radius:5px;
  position: relative;
}
.box-chat .arrow-chat {
  background: url('../images/arrow-chat.png');
  background-size: 20px 13px;
  width: 20px;
  height: 12px;
  top: -12px;
  position: absolute;
  left:-3px;
}
.box-event{
  border: 3px solid #2f9f93;
}
.box-event table th {
  padding: 0px !important;
  font-size: 13px;
  text-align: center;
  text-transform: uppercase;
  margin-right: 2px;
  border-radius: 0px 0px 5px 5px;
  background: #2f9f93;
  color: #aae6dc;
}
.box-event table th:last-child .box-event-head {
  margin: 0px;
}
.box-event table th .box-event-head {
  display: block;
  padding: 2px;
  height: 24px;
  line-height: 20px;
  overflow: hidden;
}
.box-event table th .line-wrap{
  height: auto;
  max-height: 42px;
  word-wrap: break-word;
}
.box-event table th .box-event-head .btn-group .btn, 
.box-event-head input {
  background: none;
  border: 0px;
  height: auto;
  width: auto;
  padding: 0px;
  color: #FFF;
  min-width: 40px;
  text-transform: uppercase;
  text-align: center;
  width:  100%;
}
.box-event-head input{
  height: 15px;
  line-height: 15px;
}
.box-event table th .box-event-head  .btn-group{
  width:  100%;
}
.box-event table {
  width: 100%;
  margin-top: -1px;
}
.box-event table th img {
  height: 15px;
}
.box-event table th img.user {
  height: 12px;
}
.box-event .arrow-chat {
  background: url('../images/arrow-chat-event.png') no-repeat;
}

.wrap-created-date .box-event .date-event{
  position: relative;
  overflow: inherit;
}
.box-event .date-event input[type="text"]{
  margin: 0;
  opacity: 0;
  padding: 0;
  width: 0;
  height: 0;
  float: left;
  border: none;
}

.box-event-head .btn-group  {
  position: static;
}
.box-event-head .dropdown-menu {
  top: 22px;
  width: auto;
  background: #2f9f93;
  box-shadow: none;
  border: 0px;
}
.box-event-head .dropdown-menu li a {
  font-weight: bold;
  white-space: inherit;
  text-transform:capitalize;
  font-weight: normal;
  color: #FFF;
}
.box-event-head .pl-multiselect .dropdown-menu li {
  float: left;
  text-align: center;
  width: 33%;
}
.box-event-head .dropdown-menu li a:hover {
  background: none;
}
.text-box-form textarea {
  width: 100% !important;
}
.visible{
  cursor: no-drop;
  color: #999;
}
.text-chat {
  padding: 6px;
}
.box-chat {
  margin-top: 20px;
}
button {
  border: 0px;
}
.button-form { 
  text-align: right;
  margin-top:10px;
  margin-bottom: 20px;
}
.button-form img {
  height: 40px;
}

.title-activity {
  padding-bottom: 13px;
  background: url('../images/line.png') bottom left repeat-x;
  margin-bottom: 5px;
  text-align: center;
  margin-top: 7px;
}
.title-activity img {
  width: 27px;
}

.date {
  text-align: center;
  position: absolute;
  top: -21px;
  color: #fff;
  width: 100%;
}
/***************
 * box chat
 ***************/
.form-chat .box-chat, .form-chat .box-chat-green, .form-chat .box-chat-blue {
  margin-bottom: 30px;
}
.box-chat-message {
  height: 470px;
  overflow-y: auto;
  overflow-x: hidden;
}
.box-chat-message .box-chat-blue{
  margin-top:20px;
}
.typing-message{
  position: absolute;
  bottom: 0;
  left: 0;
}
.delete-date-event{
  color: red;
  font-size: 20px;
}
.delete-date-event:hover{
  color: red;
}
.box-chat-green {
  background: #FFF;
  border: 4px solid #2f9f93;
  border-radius: 5px;
  position: relative;
}
.box-chat-green table th{
  background: #2f9f93;
  color: #FFF;
}
.box-chat-green .text-chat{
  /*color: #2f9f93;*/
}
.box-chat-blue{
  background: #82dc82;
  border: 4px solid #5aa05a;
  border-radius: 5px;
  position: relative;
}
.box-chat-blue .arrow-chat {
  background: url('../images/arrow-chat1.png') no-repeat;
  background-size: 20px 13px;
  width: 26px;
  height: 17px;
  bottom: -17px;
  position: absolute;
  right: -10px;
}
.icon-chat {
  position: absolute;
  width: 100%;
  top: -35px;
  padding-left: 50px;
  padding-right: 20px;
} 
.icon-chat img {
  height: 26px;
}
.icon-chat span {
  display: block;
  float: left;
  margin-right: 20px;
}
.icon-chat span.sent {
  float: right;
}
.box-message-chat {
  margin-top: 60px;
}
.text-chat textarea {
  background: none;
  border: 0px;
  height: auto;
  min-height: 100px;
}
.box-chat-green textarea{
  color: #303030;
}
.box-event textarea::-webkit-input-placeholder {
  color: #2f9f93 !important;
}
.box-event textarea:-moz-placeholder {
  color: #2f9f93 !important;
}
.box-event textarea::-moz-placeholder {
  color: #2f9f93 !important;
}
.box-event textarea:-ms-input-placeholder {
  color: #2f9f93 !important;
}
.interesting {
  padding: 10px;
  background: #fecc00;
  border-radius:50px;
  margin: auto;
  margin-top: 20px;
  overflow: hidden;
  width: 260px;
}
.interesting h2 {
  font-size: 25px;
  margin: 0px;
  color: #1e1e1e;
  float:left;
  font-weight: 500;
}
.interesting .switch {
  float: right;
}
.img-main img {
  width: 100%;
}
.container-social {
  width: 500px;
  margin: auto;
}
.container-profile-edit{
  width: 400px;
  padding-left: 0;
  padding-right: 0;
}
.container-profile {
  width: 780px;
  margin: auto;
  position: relative;
}
.upload-profile {
  width: 400px;
}
.form-chat {
  position: absolute;
  right: 0px;
  width: 360px;
}
.chat-container{
  max-height: 500px;
  overflow-y: auto;
  overflow-x: hidden;
}
.container-nomar {
  width: 350px;
}
.button-yellow {
  background: #fecc00;
  color: #1e1e1e;
}
.text-form {
  color: #fff;
}
.text-form p {
  background: none;
  padding: 0px;
  margin-bottom: 10px;
}
.form-account .input-control input{
  text-align: center;
}
.text-form h1 {
  color: #fff;
}
.form-account .input-control.filed-big select, .form-account .input-control.filed-big input {
  height: 40px;
  font-size: 20px;
  line-height: 20px;
  width: 100%;
  opacity: 1;
  padding-left: 0px;
}
/*.form-account .input-control.filed-big select{
  padding-left: 80px;
}*/
.form-account .input-control.filed-big label {
  height: 39px;
  font-size: 22px;
  line-height: 36px;
  padding-right: 37px;
  padding-left: 12px;
  margin-bottom: 0px;
}
.form-account .input-control.filed-big .caret{
  position: absolute;
  top: 17px;
  right: 10px;
}
.but-load {
  text-align: right;
  display: block;
}
.but-load img {
  height: 42px;
}
.but-load {
  position:absolute;
  right: 0px;
  top: 0px;
}
.invite-code {
  padding-right: 60px;
  position: relative;
}
.payment-img {
  color: #fff;
  margin-top: 20px;
  margin-bottom: 30px;
}
.payment-img img {
  width: 100%;
}
.payment-img h4 {
  font-weight: normal;
  margin-bottom: 5px;
  margin-top: 40px;
}
.but-action-close {
  position: absolute;
}
.but-action-close {
  left: 4px;
  top: 18px;
}
.but-action-close img {
  width: 20px;
}
.menu-reason li {
  margin-bottom: 20px;
}
.menu-reason li a {
  color: #dc3232;
  text-align: center;
  display: block;
}
.menu-reason li a:hover, .menu-reason li a:active  {
  color: #1e1e1e;
}
.menu-fixel {
  position:fixed !important;
  background: #fff !important;
  height: 100%;
  z-index: 12;
}
.upload-profile {
  position: absolute;
}
.magazine li {
  position: relative;
  margin-bottom: 10px;
}
.magazine li img {
  width: 100%;
}
.magazine li .descript-magazine {
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 100px;
  height: 100px;
  padding: 10px;
  font-size: 16px;
  line-height: 18px;
  background: #fecc00;
  overflow: hidden;
  word-wrap: break-word;
}
.magazine li  .left-descript {
  left: 0px;
  top: 0px;
}
.avarta-magazine {
  overflow: hidden;
  margin-bottom: 10px;
}
.avarta-magazine img {
  float: left;
  width: 40px;
  height: 52x;
  margin-right: 10px;
}
.avarta-magazine p {
  float: left;
  color: #fff;
  margin-top: 24px;
  margin-bottom: 0px;
  font-size: 12px;
}
.con-magazine {
  color: #fff;
  line-height: 20px;
}
.title-comment {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 30px;
}
.title-comment img {
  width: 230px;
}
.text-comment {
  padding-left: 50px;
  color: #fff;
}
.box-comment li {
  margin-bottom: 20px;
}
.box-comment {
  margin-bottom: 40px;
}
.box-comment ul li .read-more{
  color: #FFF;
  text-align: center;
  display: block;
}
.box-search{
  position: relative;
}
.content-popup{
  position: relative;
}
.found{
  font-size: 22px;
  line-height: 24px;
  text-align: right;
  margin-top: 10px;
  margin-bottom: 10px;
}
.form-popup .title-box-form {
  background: url('../images/arrow-popup.jpg') center bottom no-repeat #fff;
  color: #1e1e1e;
  padding-bottom: 18px;
}
.form-popup .menu-reason li {
  margin-bottom: 7px;
}
.form-popup .menu-reason li a:hover, .form-popup .menu-reason li a.active {
  color: #fff;
}
.form-popup .menu-sort-black li a{
  color: #dc3232;
  text-align: center;
  display: block;
}
.form-popup .menu-sort-black li a:hover, .form-popup .menu-sort-black li a.active {
  color: #000;
}
.height-170 {
  height: 170px;
}
.height-340 {
  height: 340px;
}
.height-300 {
  height: 300px;
}
.height-575 {
  height: 575px;
}
.height-780{
  height: 800px;
}
.form-popup  .text-box-form .form-control {
  padding: 2px;
  text-align: center;
  height: 25px;
}
.gach-input {
  color: #fff;
  margin-top: 10px;
  text-align: center
}
.more-popup {
  color: #fff;
  display: block;
  text-align: center;
  margin-top: 50px;
}
.more-popup:hover {
  color: #fff;
}
.button-search img {
  height: 40px;
}
.button-search {
  text-align: center;
  margin-top: 10px;
  position: relative;
  min-height:50px;
}
.button-search a {
  padding-right: 10px;
  padding-left: 10px;
}
.button-search button {
  position:absolute;
  right: 0px;
  background:none;
}
.blind-date {
  border: 2px solid #7d739b;
  border-radius:7px;
  height: 181px;
}
.blind-date h3 {
  background: #7d739b;
  padding: 5px;
  text-align: center;
  font-size: 13px;
  margin: 0px;
}
.box-date {
  padding: 10px;
}
.menu-date li {
  margin-bottom: 10px;

}
.menu-date li a {
  color:#7d739b;
  background: url('../images/li-date.png')no-repeat;
  padding-left: 30px;
}
.input-blue {
  background: #aae6dc;
  height: 27px;
  border: 0px;
  color: #1e1e1e !important;
  text-align: center;
}
.form-chat .box-contact .box-chat {
  margin-bottom: 10px;
}
.box-contact .box-chat .text-chat textarea::-webkit-input-placeholder { 
  color: #8cc8be !important;
}
.box-contact .box-chat .text-chat textarea:-moz-placeholder { 
  color: #8cc8be !important;
}
.box-contact .box-chat .text-chat textarea::-moz-placeholder { 
  color: #8cc8be !important;
}
.box-contact .box-chat .text-chat textarea:-ms-input-placeholder { 
  color: #8cc8be !important;
}
.box-contact {
  position: relative;
  margin-top: -10px;
  margin-bottom: 10px;
}
.box-contact .icon-chat {
  position: relative;
  overflow: hidden;
  top: 0px;
}
.text-small {
  font-size: 13px;
}
.container-large {
  width: auto;
  padding-left: 0;
  padding-right: 0;
}
.container-medium{
  width: 428px;
}
/*************
 * search page
 *************/
.search-filter{
  width: 791px;
  margin: auto;
}
.search-filter .large-item {
  margin-bottom: 20px;
}
.search-filter .picture {
  min-height:100px;
}
.search-filter .wrap-pagination,.search-dates-filter .wrap-pagination{
  text-align: center;
}
.search-filter .large-item .avatar-image{
  height: 511px;
}
.search-filter .small-item .avatar-image{
  height: 152px;
}
.search-dates-filter{
  width: 865px;
  margin: auto;
}
.search-dates-filter .wrap-pagination-date ul li{
  margin: 0px;
  display: block;
  float: left;
  width: 132px;
}
.search-dates-filter .wrap-user-box{
  float: none;
}
.search-dates-filter .date-paginate{
  margin-bottom: 20px;
  text-transform: uppercase;
}
.search-dates-filter .read-more{
  font-size: 14px;
}
.username-in-search{
  color: #666;
  font-size: 17px;
}
.input-control .btn, .form-profile .title-box-form .btn  {
  width:100%;
  background:none;
  border:0px;
  padding:0px;
  float: none;
  min-height:24px;
}
.form-profile  .title-box-form .btn {
  color:#fff;
  padding:0px;
}
/***********
 * dropdown list
 ***********/
.input-control .dropdown-menu {
  position:relative;
  border:0px;
  box-shadow:none;
  z-index:1;
  min-width: 30px;
}
.input-control .dropdown-menu li {
  float:left;
  width:33%;
  padding-left:1%;
  padding-right:1%;
}
.input-control .dropdown-menu > li > a {
  cursor:pointer;
  color:#dc3232;
}
.input-control .dropdown-menu > li > a.active {
  color:#1e1e1e;
}
.input-control .btn-group {
  display:block;
}
.pl-multiselect .btn{
  white-space: inherit;
}
.pl-multiselect .btn-group .dropdown-toggle{
  box-shadow: none;
  -webkit-box-shadow:none;
}
.pl-multiselect ul li a{
  cursor: pointer;
  padding: 3px;
  text-align: center;
  white-space: inherit;
}
.input-control .open {
  display:inline-block;
}
.input-lg-control .btn {
  height:auto;
  min-height: 19px;
}
.input-lg-control .btn label {
  display:block;
  font-weight: normal;
  margin-bottom: 0px;
  color: #000;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  padding-left: 2px;
  padding-right: 2px;
}
.row {
  margin-left: -2px;
  margin-right: -2px;
}
.text-box-form .multi-checkbox label {
  font-weight:normal;
  display:block;
  text-align:center;
  text-transform: lowercase;
  color: white;
}
.multi-checkbox input {
  opacity:0;
  width: 0 !important;
  padding: 0 !important;
  margin: 0 !important;
  display: none;
}
.menu-reason-black li {
  margin-bottom: 20px;
}
.text-box-form .menu-reason-black.multi-checkbox label{
  color: red;
}
.text-box-form .menu-reason-black.multi-checkbox label input:checked + span{
  color: #000;
}
.multi-checkbox label {
  display: block;
  color: red;
}
.multi-checkbox label span{
  cursor: pointer;
}
.multi-checkbox label input:checked + span{
  color: red;
}
.popup-filter .multi-checkbox label {
  color: white;
}
.popup-filter .multi-checkbox label input:checked + span{
  color: red;
}
.box-form .form-control {
  height: 25px;
  padding: 2px;
  line-height: 21px;
}
.box-form textarea.form-control {
  min-height: 120px;
}
select {
  background: none ;
  border: 0 none;
  opacity: 0;
  -webkit-appearance: none;
}
@-moz-document url-prefix() {
  .caret{
    display: none;
  }
}
.gallary-btn-list {
  position:absolute;
  top:15px;
  left:15px;
  z-index:1;
}
.gallery-btn-out  {
  position:absolute;
  top:15px;
  right:15px;
  z-index:1;
}
.gallery-btn-delete{
  position:absolute;
  top:15px;
  right: 85px;
  z-index:1;
}
.gallery .pl-controls-direction  a {
  width:40px;
  height:63px;
  position: absolute;
  top: 50%;
  margin-top: -16px;
  outline: 0;
  text-indent: -9999px;
  z-index: 2;
}
.gallery .pl-controls-direction .pl-prev {
  background: url(../images/prev-picture.png) no-repeat;
  left: 0px;
  /*float:left;*/
}
.gallery .pl-controls-direction .pl-next {
  background: url(../images/next-picture.png) no-repeat;
  right: 0px;
  /*float:right;*/
}
.gallery-list ul li .slide-item{
  width: 31%;
  float: left;
  margin-left: 2%;
  margin-top: 2%; 
}
.gallery-only ul li{
  position: relative;
}
.gallery-only ul li .img-add{
  position: relative;
  z-index: 2;
}
.gallery-only ul li .img-add img{
  position: absolute;
  top:0;
  left: 0;
}
.gallery-only ul li .img-add .img-des{
  position: absolute;
  top:200px;
  left: 0;
  color:#FFF;
  width: 100%;
}
.gallery .bx-wrapper{
  min-height: 200px;
}
.pl-slider {
  position: relative;
}
.pl-slider .slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
/*
.form-tag p {
    background: #fff;
    padding: 5px;
    position: relative;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 5px;
}


.form-tag p span {
  background: url('../images/arrow-form.png') right no-repeat #1e1e1e;
  height: 20px;
  line-height: 17px;
  color: #fff;
  padding: 3px;
  display: block;
  position: absolute;
  left: 0px;
  padding-right: 20px;
  margin-left: 5px;
  border-radius: 5px 0px 0px 5px;
}
.form-tag .input-control input, .form-tag .input-control textarea{
  border: 0px;
  width: 100%;
  height: 20px;
  text-align: right;
  background: none;
}
*/
.form-white .input-control {
  background: #1e1e1e;
}
.form-white .input-control .input-control-label{
  background: url('../images/arrow-form1.png') right no-repeat #fff;
  color: #333;
}

.form-blue .input-control {
  background: #aae6dc;
  border: solid 3px #8cc8be;
}
.form-blue .input-control .input-control-label{
  width: 40%;
  text-align: center;
  background: url('../images/arrow-blue.png') right no-repeat #8cc8be;
  color: #aae6dc;
  border-radius:0px;
}
.wrap-created-date{
  width: 60px;
}
.date-event .date-group {
  position: relative;
  padding-left:24px;
  line-height: 9px;
}
.date-event .day {
  font-size: 22px;
  left: 0;
  position: absolute;
  top: 5px;
  width: 30px;
  text-align: center;
}
.date-event .week, .date-event .month {
  display: block;
  font-size: 10px;
}

.form-control:focus {
  -webkit-box-shadow:none;
  box-shadow: none;
}
.form-control{
  box-shadow: none;
}
.dropdown-menu>li>a{
  cursor: pointer;
}
.activity-tab {
  position: fixed;
  height: 100%;
  width: 58px;
  z-index: 100;
  font-size: 13px;
}
.box-activity {
  background: #fff;
  width: 400px;
  position: relative;
  left: 0px;
}
.box-activity-active {
  left: -342px; 
}
.activity-tab ul li {
  margin-top: 5px;
}
.tab-activity {
  border-bottom: solid 2px;
}
.tab-activity ul {
  display: table;
  width: 100%;
}
.tab-activity li {
  display: table-cell;
  position: relative;
  text-align: center;
}
.tab-activity li img {
  width: 41px;
}
.tab-activity li a {
  display: block;
  padding: 5px;
}
.tab-activity li.tab-last {
  border-left: 2px solid;
  /*padding-left: 3px;*/
}
.activity-table {
  width: 100%;
}
.activity-table img {
  width: 44px;
}
.activity-table td {
  padding-left:5px;
}
.activity-table .date-message{
  width: 200px;
}
.activity-table .text-chat{
  max-width: 190px;
}
.activity-table .show-activity{
  width: 63px;
}
.activity-table .box-chat{
  margin-top: 0;
}
.activity-table .css-checkbox{
  margin-bottom: 0;
}
.activity-table .date-message .box-chat-blue{
  margin-bottom: 10px;
}
.activity-box {
  padding: 5px;
  border-radius:7px;
  position: relative;
}
.date-activity {
  position: absolute;
  left: 5px;
}
.country-acti {
  border-left:2px solid #84df84;
  margin-left: 45px;
  max-width: 130px;
}
.activity-msg{
  max-width: 170px;
}
.ellipsis{
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow:hidden;
}
.activity-box .date-event .date-group {
  padding-left: 27px;
}
.activity-box .date-event .day {
  font-size: 20px;
}
.arrow-activity {
  background: url('../images/arrow-activity.png') no-repeat;
  width: 15px;
  height: 14px;
  bottom: -8px;
  position: absolute;
  right: -1px;
}
.button-activity {
  text-align: center;
  /*margin-right: 40px;*/
  margin-top: 10px;
  padding-bottom: 10px;
  height: 38px;
}
.button-activity a {
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
}
.button-activity img {
  width: 25px;
}
.activity-came {
  text-align: center;
  width: 58px;
  padding: 10px 0px;
  position: absolute;
  bottom: 0px;
  background-color: #fff;
  border-top: #000 2px solid;
}
.activity-came .acti-webcame img {
  width:100%;
}
.acti-webcame {
  height: 160px;
  line-height: 160px;
  overflow: hidden;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
}
.acti-webcame.active{
  width: 120px;
}
.acti-webcame video{
  margin-top: 41px;
}
.acti-webcame.active video{
  margin-top: 0;
}
.activity-came img{
  max-width: 100%;
}
.activity-came .acti-came img{
  height: 21px;
}
/**************
 * Box Polls
 **************/
.box-poll{
  border-radius: 5px;
  border: 1px solid #fecc00;
  min-height: 189px;
}
.box-poll.large{
  height: auto;
  max-height: 462px;
  overflow-y: hidden;
}
.poll-question{
  padding: 5px 2px;
  background-color: #fecc00;
}
.poll-answer{
  padding: 5px;
  color: #fecc00;
}
/**************
 * Box banners
 **************/
.box-banner .box-user{
  /*height: 189px;*/
}
.search-filter .box-banner img{
  height: auto;
}
.box-join{
  display: block;
}
.gender-register{
  margin-left: 72px;
}
multiselect .dropdown-menu{
  padding-left: 5px; 
  padding-right: 5px;
}
multiselect .dropdown-menu > li > a {
  padding: 3px 10px;
  cursor:pointer;
}
.date-group-input{
  display: block;
  margin-bottom: 0;
}
.date-group-input input[type="checkbox"]{
  opacity: 0;
  display: none;
}
.box-event table th img{
  height: 16px;
}
.pl-multiselect {
  width: 100%;
}
.pl-multiselect .dropdown-menu{
  width: 100%;
}
.pl-multiselect.btn-group.open .dropdown-toggle{
  box-shadow: none;
  -webkit-box-shadow:none;
  background: none;
}
.form-account .input-control{
  padding: 0;
}
.form-account .input-control .input-control-label{
  margin-right: 0;
  margin-left: 0;
  height: 20px;
  line-height: 17px;
  padding: 3px;
  left: 0px;
  padding-right: 20px;
  top:0;
}
.form-edit-account .input-control input{
  padding-left: 0;
}
.camera-tab{
  width: 500px;
  margin-left: 20px;
}
.modal-footer{
  margin-top: 0;
}
.audio-model{
  text-align: center;
}
.audio-model img{
  width: 50%;
}
.activity-table-icon-audio img{
  width: 26px;
}
.container-profile .read-more{
  display: block;
  text-align: center;
  color: #FFF;
  margin-bottom: 30px;
}
.list-activity ul li.active{
  background-color: #bbb;
}
.activity-box{
  word-wrap: break-word;
}
.list-activity .read-more{
  text-align: center;
  display: block;
  padding: 10px;
}
.add-field{
  text-align: center;
  display: block;
}
.form-control{
  color: #000;
}
.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control{
  background-color: transparent;
}

/***********
 * video
 ***********/
.video{
  overflow: hidden;
}
.pc-none-display{
  display: none;
}

a:link:focus, a:visited:focus{
  outline: none;  
  -moz-outline: none; 
}
.privacyfilter-text{
  width: 76px;
}
.privacy-txt{
  color: white;
}
.height-6650{
  height: 6650px;
}
.capitalize{
  text-transform: capitalize;
}
.box-signin input{
  color: black;
}
.menu-reason a.active{
  color: black;
}
.growl-item-wrapper{
  z-index: 999999;
}
.not-premium-large, .not-premium-small {
  position: absolute;  
}
.not-premium-large{
  right: -8px;
  top: -16px;
}
.not-premium-small{
  right: -41px;
  top: -7px;
}
.not-premium-small img{
  width: 54%;
}
.not-premium-large img{
  width: 81%;
}
.search-text-form p{
  padding: 2px;
  border-radius: 4px;
}
.search-text-form p span{
  /*  margin-left: 12px;*/
}
.wrap-pagination-date ul li{
  font-size: 20px;  
  margin: 0px 7px 0px 7px;
  position: relative;
  top: -8px;
}
.wrap-pagination-date ul li.active{
  font-weight: bold;
  font-size: 22px;
}
.wrap-pagination-date .dates-paginate{
  margin-top: 18px;
}
.wrap-pagination-date .left-arrow,.wrap-pagination-date .dates-paginate,.wrap-pagination-date .right-arrow{
  float: right;
}
.left-arrow, .right-arrow{
  width: 37px;
  height: 33px;
  background-size: 100% 100%;
  background-repeat: no-repeat
}
.left-arrow{
  background-image: url("../images/left-arrow.png");  
}
.right-arrow{
  background-image: url("../images/right-arrow.png");
}
.cursor-pointer{
  cursor: pointer;
}
.butMenuActive {  
  position: absolute;
  left: 4px;
  top: 24px;
}
.butMenuActive span {
  background: #333;
  display: block;
  height: 2px;
  width: 20px;  
  border-radius: 4px;
  margin-bottom: 3px;
}
.large-box-profile{
  min-height: 24px;
  width: 100%;
  padding-left: 31%;
  text-align: center;
}
.box-user-home img{
  height: 94px;
}
.box-user-home p, .box-user p{
  height: 32px;
  overflow: hidden;
}
.wrap-pagination li{
  display: inline-block;
}
.wrap-pagination li.active{
  font-weight: bolder;
  font-size: 26px;
}
.wrap-pagination a{
  color: white;
  display: block;
}
.wrap-pagination .paginator-number{ 
  font-size: 23px;
  margin: 0px 7px 0px 7px;
  position: relative;
  top: -8px;
}
.growl-notice-wrapper{
  top: 50%;
  left: 38%;
  width: 24%;
}
.wrap-gender-selection{
  margin-top: 0px;
}
.wrap-gender-selection .input-control .input-control-label{
  width: auto; 
}
.wrap-gender-selection .dropdown-menu{
  min-width: 157px;
}
.wrap-gender-selection .dropdown-menu>li>a{
  padding: 0;
}
.blurred{
  -webkit-filter: blur(15px);
  -moz-filter: blur(15px);
  -o-filter: blur(15px);
  -ms-filter: blur(15px);
  filter: blur(15px);
  filter: url(blur.svg#blur); 
  transition: -webkit-filter 0.9s linear 0s;
}
a.blurred{
  display: block;
}
.orange-yellow{
  background: #fecc00;
}

.wrap-user-box{
  float: left;
  width: 124px;
  margin: 4px;
  position: relative;
  overflow: hidden;
}
.title-page-menu img{
  width: 20px;
  left: 4px;
  top: 20px;
  position: absolute;
}
.title-page-menu{  
  text-align: left;
}
.title-page-menu span{
  margin-left: 34px;
}
.butMenuActive span{
  margin-left: 0;
}
.text-reply-event textarea{
  width: 100%;
}
.date-reply{
  width: 104px;
}
.form-tag .select-box{
  opacity: 1;
  margin-left: 55px;
  height: 24px;
  font-size: 15px;
}
.wrap-video-magazine-list{
  height: 252px;
  display: block; 
}
.monthSelected{
  font-weight: bold;
  font-size: 17px;
}
.search-filter .box-picture{
  position: initial;
}
.search-filter .picture{
  position: initial;
}

.wrap-user-box .box-user #svg-image-blur {
  height:148px;
  width: 100%;
}

.box-user #svg-image-blur {
  height:160px;
}

.box-picture #svg-image-blur {
  height:507px;
}
.show-activity #svg-image-blur {
  width: 48px;
  height: 60px;
}
#svg-image {
   height:152px;
    width:114px;
}


/* firefox only */
.firefox .box-event .text-chat textarea{
  min-height: 250px;
}