@font-face {
  font-family: 'dekarregular';
  src: url('../fonts/edited_dekar-webfont.eot');
  src: url('../fonts/edited_dekar-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/edited_dekar-webfont.woff2') format('woff2'),
    url('../fonts/edited_dekar-webfont.woff') format('woff'),
    url('../fonts/edited_dekar-webfont.ttf') format('truetype'),
    url('../fonts/edited_dekar-webfont.svg#dekarregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'dekar_lightregular';
  src: url('../fonts/dekar_light-webfont.eot');
  src: url('../fonts/dekar_light-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/dekar_light-webfont.woff') format('woff'),
    url('../fonts/dekar_light-webfont.ttf') format('truetype'),
    url('../fonts/dekar_light-webfont.svg#dekar_lightregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #1e1e1e;  
  color: #FFF;
  font-size: 15px;
  line-height:16px;
  font-family: 'dekarregular';
}
h1, h2, h3, h4, h5, h6 {
  font-weight:bold;
}
h2 {
  font-size: 20px;
}
a, a:hover {
  color: #000;
  text-decoration: none;
}
li {
  list-style: none outside none;
}
ul {
  margin: 0;
}
img {
  border: 0 none;
}
textarea{
  resize: none;
}
.clear {
  clear: both;
}
.logo {
  margin-top: 5px;
}
.logo img {
  width: 180px;
}
.content .title{
  font-size: 18px;
}